/***
MEGA MENU CONTENT
***/

nav{
    position: relative;
    background-color:#0078bd;
    height:37px;

    #bottom-nav{
        background-color:#0078bd;
        height: 37px;

    ul.megamenu{
        @include listReset;
        padding:3px 0 12px;
        background-color:#0078bd;
        display: none;

        li{
            @include boxSizing;
            display: inline-block;
            list-style-type: none;
            padding:0 0 8px;
            margin:3px 25px 0 0;
            font-weight:400;
            letter-spacing: .054em;
            .mm-item{
            }
            &.clear-fix{
                 float: none;
                 clear: both;
                 margin: 0px;
                 padding: 0px;
                 height: 0px;
                 font-size: 0px;
                 line-height: 0px;
            }
            &.member-btn{
                 margin-right:0;
                 margin-left:29px;
            }
        }

        .hidden-item{
            @include boxSizing;
            display:none;

            .btn{
                @include boxSizing;
                display:inline-block;
                background-color: #000;
                width:165px;
                height:27px;
                color:#fff;
                padding:4px 0 0;
                text-align: center;
                font-weight: 300;
                font-size: 12px;
            }
            .orange{
                background-color: #fe8d0b;

            }

            &.phone-icon{
                 margin-right:19px;
            }

            &.login{
                 margin-right:19px;
            a{
                color:#d2d2d2;
            }
        }

    &.ds-logo{
         margin-right:12px;
    }
 }

a.mm-item-link:link,
a.mm-item-link:visited {
    position: relative;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    z-index: 900;
    font-size: 14px;
}

a.mm-item-link-hover:link,
a.mm-item-link-hover:visited {
//display: inline-block;
    color: $rollOverColor;
    z-index: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

/**
 * Dropdown Container
 */
div.mm-item-content{
    padding:0;
    z-index: 800;


/**
 * Default Menu Wrapper Styles
 * Styles are different for each dropdown menu
*/
.mm-content-base {
    border-top: 1px solid #0078bd;
    background: #FFF;
    position: absolute;
    z-index: 700;
    padding:30px 14px;
    margin: 8px 0 0;
    width:960px !important;
@include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));

ul.columns{
    padding:0;
    margin:0;
li{
@include boxSizing;
    display: inline-block;
    list-style-type: none;
    padding: 0 5px 0 0;
    margin: 0;
    vertical-align: top;

.imgHolder {
    padding: 0;
    margin: 0 0 10px 0;
}
.title {
    margin: 0 0 10px;
a {
    color: $subNavTitle;
    text-decoration: none;
}
}
hr {
    height: 0;
    margin: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

ul.subContent {
    padding: 5px 0 0;
    margin: 0;
li {
    width: 225px;
    display: block;
    padding: 5px 0 5px;
    font-size: 14px;
a {
    color: #2a70bb;
    text-decoration: none;
}
:hover {
    color: $rollOverColor;
}
}
}
&:last-child {
     padding-right:0;
 }
}
}
}
}
}
}
}

