@import url("base/normalize.css");
@import url("base/main.css");
//@import url("vendor/jquery.megamenu.css");

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@import "helpers/mixins";
@import "helpers/variables";
@import "partials/grid";

/**
 * Defaults
 */

body {
    background: #fff;
    margin: 0;
    padding: 0;
    @include Roboto;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

#page {
    width: 100%;
    //width:960px;
}

.cleaner {
    clear: both;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.clear40 {
    clear: both;
    height: 40px;
}


/* Base */
.container {
    width: $baseWidth;
    margin: 0 auto;
    @include cf;
    position: relative;
}


@import "pages/top-nav";
@import "pages/sub-nav";
@import "pages/home";
@import "pages/landing-home-loans";
@import "pages/landing-checking";
@import "pages/product-mortgages";
@import "pages/product-checking";
@import "pages/content-hub";
@import "pages/conversion";
@import "pages/article";
@import "pages/locations";
@import "pages/sitemap";
@import "pages/testimonial-slider";
@import "layouts/table-grid";
@import "layouts/moduleGrid";
@import "components/buttons";
@import "components/banners";
@import "components/carousels";
@import "components/forms";
@import "components/breadcrumb";
@import "partials/footer";
