//MODULE GRID LAYOUT
.module{
    .sidebar{
        float:right;
        width:240px;
        padding:0 0 0 24px;
        .side-title{
            font-size:21px;
            font-weight:100;
            color:$copyGrey;
            padding:0 0 25px 25px;

            &.header-link{
                a{
                    font-size:16px;
                    font-weight:500;
                    color:$dsBlue;
                    text-decoration: none;
                }
                padding:0 0 12px;
            }

            &.default{
                background:none;
                padding:14px 0 5px;
                border-top:1px solid #ccc;
            }

            &.top{
                border:none;
                padding:0;
            }

            &.icon-rates{
                background : url('img/sidebar-icon-rates.png') 0 35px no-repeat;
                padding:30px 0 17px 25px;
                border-top:1px solid #ccc;
            }

            &.icon-calculator{
                background : url('img/sidebar-icon-calculator.png') 0 35px no-repeat;
                padding:30px 0 8px 25px;
                border-top:1px solid #cccccc;
            }

            &.icon-events{
                background : url('img/sidebar-icon-events.png') 0 35px no-repeat;
                padding:30px 0 8px 25px;
                border-top:1px solid #cccccc;
            }

            &.icon-advice{
                background : url('img/sidebar-icon-advice.png') 0 35px no-repeat;
                padding:30px 0 8px 23px;
                font-size:20px;
                border-top:1px solid #cccccc;
            }

            &.icon-estimate{
                background : url('img/sidebar-icon-estimate.png') 0 15px no-repeat;
                padding:10px 0 0 25px;
                border-top:1px solid #cccccc;
            }

            &.icon-find{
                background : url('img/sidebar-icon-find.png') 0 35px no-repeat;
                padding:30px 0 8px 25px;
                border-top:1px solid #cccccc;
            }

            &.first{
                border:none;
                background-position: 0 5px;
                padding:0 0 10px 25px;
            }

            &.rates{
                padding:0 0 15px;
                font-size:16px;
                font-weight:500;
            }
        }




        ul{
            @include listReset;

            li{
                @include cf;
                .rate-title{
                    font-size:18px;
                    font-weight:400;
                    color:$copyGrey;
                }

                .rate-low{
                    font-size:15px;
                    font-weight:300;
                    color:$veryLightGrey;
                }

                .rate-value{
                    float:left;
                    font-size:42px;
                    font-weight:400;
                    color:$rateColor;
                    margin-top:-10px;
                }

                .stats{
                    float:left;
                    margin-top:-10px;
                    .percent{
                        display: inline-block;
                        font-size:20px;
                        font-weight:300;
                        color:$rateColor;
                        margin:6px 0 0;
                    }
                    .asterisk{
                        display: inline-block;
                        font-size:14px;
                        font-weight: 300;
                        color:$veryLightGrey;
                        vertical-align: top;
                        margin:8px 0 0 -4px;
                    }
                    .apr{
                        font-size:13px;
                        font-weight:300;
                        color:$copyGrey;
                        margin:-4px 0 0 2px;
                    }
                }

                .event-title{
                    font-size:17px;
                    font-weight: 300;
                    color:$copyGrey;
                    padding:0;
                    margin:0;
                }

                p{
                    padding:2px 0 0;
                    margin:0;
                    &.date{
                        font-size:14px;
                        font-weight: 400;
                        color:$veryLightGrey;
                    }
                    &.location{
                        font-size:14px;
                        font-weight: 400;
                        color:$veryLightGrey;
                    }
                }

                .side-copy{
                    font-size:14px;
                    font-weight:300;
                    color:$copyGrey;
                    display:block;
                    padding:0 0 2px;
                }
                .side-link{
                    a{
                        font-size:15px;
                        font-weight:500;
                        color:$dsBlue;
                        text-decoration: none;
                    }
                    padding:0 0 22px;
                }


            }
        }
        .side-list-rates{
            padding:0 0 10px;
            li{
                padding:0 0 10px;
            }

        }
    }


    .gridWrap{
        float:left;
        width:720px;
        @include cf;

        .main-content{
            .content-title{
                //font-family: Roboto;
                font-weight: 100;
                font-size:32px;
                color:$dsBlue;

            }
            .content-copy{
                text-align: left;
                font-weight: 300;
                font-size:18px;
                color:$copyGrey;
                margin:10px 0 30px;
                //border:1px solid red;
            }
        }
        .item{
            float: left;
            h3 {
                font-size:21px;
                font-weight:100;
                color:$copyGrey;
            }

            .copy{
                color:$copyGrey;
                font-size:16px;
                font-weight: 100;
            }

            .learn-more{
                padding-top:10px;

                a{
                    color:#0078bd;
                    font-size:15px;
                    font-weight:400;
                    text-decoration: none;
                }
                :hover{
                    color:$rollOverColor;
                }
            }
        }

        &.two {
            padding: 0;
            @include cf;
            .main-content {
                width: 720px;
                padding:0 0 2px;
                font-family: Roboto;
                font-weight: 300;
                color: $copyGrey;

                .content-title{
                    width: 720px;
                    font-size: 31px;
                    font-family: Roboto;
                    font-weight: 100;
                    color: $dsBlue;
                    padding: 0;
                }

                .content-copy {
                    width: 720px;
                    font-size: 18px;
                    font-weight: 300;
                    color: $copyGrey;
                    line-height: 24px;
                }

                .main-copy{
                    width: 720px;
                    font-size: 16px;
                    font-family: Roboto;
                    font-weight: 300;
                    color: $copyGrey;
                    line-height: 24px;
                }

                h2{
                    font-size:20px;
                    font-weight:300;
                    color:$copyGrey;

                }

                ul{
                    @include listReset;
                    padding:15px 0 50px;
                    font-size: 15px;
                    li{
                        padding:0 10px 0 40px;
                        text-align: left;
                        background-image: url('img/bullet-icon.png');
                        background-repeat: no-repeat;
                        background-position: 30px 8px;
                        font-weight: 300;
                        color:$copyGrey;
                    }
                }

            }

            .item{
                max-width:340px;
                margin:0 0 25px 30px;
                vertical-align: top;
                display: inline-block;
                float: none;
                &:nth-child(even){
                    margin-left: 0;
                }
                a {
                    text-decoration: none;

                }
                .thumb {
                    width: 100%;
                    overflow: hidden;
                    margin:0 0 10px;
                    img {
                        max-width: 100%;
                    }
                }

                .article-category{
                    font-size:15px;
                    font-weight:300;
                    color:$tableHeader;
                }

            }

            &.full{
                width:960px;
                @include cf;
                .main-title {
                    width: 960px;
                    font-size: 31px;
                    font-family: Roboto;
                    font-weight: 100;
                    color: $dsBlue;
                    padding: 28px 0 28px;

                }

                .apply-holder{
                    margin:20px auto;
                    float:left;
                    width:960px;
                    .learn-link{
                        padding:13px 0;
                        a{
                            display: block;
                            text-decoration: none;
                            color: $dsBlue;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }

                .item {
                    max-width:467px;
                    position: relative;
                    @include boxSizing;
                    float: left;
                    //cursor:pointer;
                    width: 467px;
                    padding: 0 0 50px;
                    margin: 0 13px 0 0;

                    .about-title, p{
                        text-align: left;
                        font-size:23px;
                        font-weight: 300;
                        color:$copyGrey;
                    }
                    .about-title {
                        margin-bottom: 16px;
                    }
                    p{
                        font-size:15px;
                    }

                    ul{
                        @include listReset;
                        li{
                            padding:0 10px 0 10px;
                            text-align: left;
                            background-image: url('img/bullet-icon.png');
                            background-repeat: no-repeat;
                            background-position: 0 10px;
                            font-weight: 300;
                            font-size:15px;
                            color:$copyGrey;
                        }
                    }
                    .topHolder{
                        position:relative;
                        height:202px;
                        overflow: hidden;
                        cursor:pointer;
                        .arrow{
                            width:17px;
                            height:9px;
                            display:block;
                            position:absolute;
                            top:193px;
                            left:20px;
                            background-image: url('img/triangle-icon.png');
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            z-index:20;
                        }
                        .overlay{
                            @include boxSizing;
                            position:absolute;
                            top:202px;
                            @include bgAlpha(0, 118, 192, .88);
                            width:467px;
                            height:202px;

                            padding:20px 14px 6px 18px;
                            text-align: left;
                            p{
                                color:#fff;
                                font-weight: 300;
                                font-size:13px;
                            }
                        }
                    }

                    .bottomHolder{
                        position:relative;
                        cursor:pointer;
                        @include bgAlpha(255, 255, 255, 1.0);

                        .title {
                            padding: 14px 0 0;
                            text-align: left;
                            font-size: 21px;
                            color: $copyGrey;
                            font-weight: 100;
                            line-height: 12px;
                            //min-height:10px;
                        }
                        a {
                            display: block;
                            text-align: left;
                            padding: 20px 0 0;
                            text-decoration: none;
                            color: $dsBlue;
                            font-size: 15px;
                            font-weight: 500;
                        }
                        :hover{
                            color:$rollOverColor;
                        }
                    }
                }
            }
        }

        &.three {
            width: 960px;
            padding: 0;

            .main-title {
                width: 960px;
                padding:20px 0 0;
                font-size: 31px;
                font-family: Roboto;
                font-weight: 100;
                color: $dsBlue;
            }

            a{
                display:block;
                .item{
                    @include cf;
                    @include boxSizing;
                    width:280px;
                    max-width:280px;
                    margin:0 60px 50px 0;
                    padding:32px 0 0;

                    h2{
                        padding:12px 0 8px;
                        text-align: left;
                        font-size:21px;
                        font-weight:100;
                        color:$copyGrey;
                        line-height:24px;

                    }
                    :hover{
                        //color:$rollOverColor;
                    }
                    .expiration{
                        font-size:14px;
                        font-weight:300;
                        color:$copyLightGrey;
                        text-align:left;
                    }

                    .thumb {
                        position:relative;
                        width: 100%;
                        overflow: hidden;
                        margin:0 0 10px;
                        img {
                            max-width: 100%;
                        }

                        .badge{
                            position:absolute;
                            top:0;
                            display:block;
                            background-color:$dsBlue;
                            width:52px;
                            height:48px;
                            span{
                                display: block;
                                color:#fff;
                                font-size:18px;
                                font-weight:400;
                                padding:11px 0 0;
                            }
                        }
                    }

                    .icon-title{
                        @include boxSizing;
                        display:inline-block;
                        width:150px;
                        color:$dsBlue;
                        font-size:15px;
                        line-height:1.3;
                    }

                    .mortgage-th-copy{
                        @include boxSizing;
                        padding:0 0 10px;
                        text-align: left;
                        font-size:16px;
                        font-weight:100;
                        color:$copyGrey;
                    }

                    .learn-link{
                        text-align: left;
                        a{
                            display: block;
                            text-decoration: none;
                            color: $dsBlue;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .bottom-button{
                display:inline-block;
                width: 160px;
                padding:8px 0 40px;
            }

            &.easy-loan{
                a {
                    display:block;
                    .item {
                        margin:0 60px 50px 0;
                        .learn-more{
                            text-align: left;
                            padding-top:10px;
                            color:#0078bd;
                            font-size:15px;
                            font-weight:400;
                            text-decoration: none;
                        }

                    }

                    :hover{
                        .learn-more{
                            color:$rollOverColor;
                        }
                    }

                    &:nth-child(4){
                        .item{
                            margin-right:0;
                        }


                    }
                }

            }


            &.home{
                a{
                    display:block;
                    .item {
                        margin:0 60px 50px 0;
                        .learn-more{
                            text-align: left;
                            padding-top:10px;
                            color:#0078bd;
                            font-size:15px;
                            font-weight:400;
                            text-decoration: none;
                        }
                    }
                    :hover{
                        .learn-more{
                            color:$rollOverColor;
                        }
                    }
                    &:first-child{
                        .item{
                            margin-left: 0;
                        }
                    }
                }

            }

            &.questions{
                padding:0 0 40px;//
                a{
                    .item{
                        margin:0 50px 0 0;
                    }
                    &:last-child{

                        .item{
                            margin-right:0;
                        }
                    }
                    &:hover{
                        .item{
                            .icon-title{
                                color:$rollOverColor;
                            }
                        }
                    }
                }



            }
        }

        &.four {
            width: 960px;
            padding: 0;

            .search-content-header{
                padding:54px 0 0;
                text-align: center;
                .content-title{
                    font-size:31px;
                    color:$dsBlue;
                    font-weight: 100;
                }
                .content-subtitle{
                    text-align:left;
                    font-size:18px;
                    color:$copyGrey;
                    font-weight:300;
                    padding:40px 0;
                    margin:0 0 40px;
                    border-bottom:1px solid $copyLightGrey;
                }
            }

            .pagination-holder{
                padding:0 0 75px;
                text-align: center;
                .powered-by{
                    font-size:15px;
                    font-weight: 100;
                    color:$veryLightGrey;
                }
                ul {
                    padding:0;
                    &.paginatation {
                        li{
                            @include boxSizing;
                            @include listReset;
                            width:32px;
                            height:32px;
                            display:inline-block;
                            font-size:19px;
                            font-weight: 300;
                            text-align: center;
                            padding:2px 0 0;
                            a{
                                font-size:19px;
                                font-weight: 300;
                                color:$dsBlue;
                                text-decoration: none;
                            }
                            &.current-page{
                                color:#fff;
                                background-color:$dsBlue;
                            }

                        }
                    }
                }
            }

            .search-item{
                @include cf;
                padding:0 0 25px;

                img{
                    @include boxSizing;
                    width:99px;
                    padding:0;
                    margin:0 24px 25px 0;
                    float:left;

                }
                .search-info {
                    margin-bottom: 25px;
                    h2 {
                        display: block;
                        padding: 0;
                        margin: -5px 0 0;
                        font-size: 15px;
                        a {
                            font-weight: 500;
                            color: $dsBlue;
                            text-decoration: none;
                        }
                    }
                    p {
                        font-size: 15px;
                        font-weight: 400;
                        color: $copyGrey;
                        padding: 0;
                        margin: 8px 0;
                    }
                    a {
                        font-size: 15px;
                        font-weight: 300;
                        color: $veryLightGrey;
                    }
                }
            }

            .grid-box-four {

                padding: 24px 0 20px;
                @include cf;


                .grid-box-4-title{
                    display: inline-block;
                    width: 960px;
                    font-size: 31px;
                    font-family: Roboto;
                    font-weight: 100;
                    color: $copyBlue;
                    padding: 0;
                    margin:5px 0 19px;
                }

                .grid-box-4-subtitle {
                    display: inline-block;
                    width: 960px;
                    font-size: 18px;
                    font-family: Roboto;
                    font-weight: 300;
                    color: $copyGrey;
                    line-height: 24px;
                    padding:0 210px 40px;
                }

                .overlay{
                    @include bgAlpha(30, 30, 30, 0.6);
                }

                .item {
                    position: relative;
                    @include boxSizing;
                    float: left;
                    cursor:pointer;
                    width: 227px;
                    height: 323px;
                    padding: 0;
                    margin: 0 13px 0 0;

                    .topHolder{
                        position:relative;
                        height:188px;
                        overflow: hidden;
                        .arrow{
                            width:17px;
                            height:9px;
                            display:block;
                            position:absolute;
                            top:179px;
                            left:20px;
                            background-image: url('img/triangle-icon.png');
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            z-index:20;
                        }
                        .overlay{
                            @include boxSizing;
                            position:absolute;
                            top:188px;
                            @include bgAlpha(0, 118, 192, .88);
                            width:227px;
                            height:188px;

                            padding:3px 14px 6px 18px;
                            text-align: left;
                            p{
                                color:#fff;
                                font-weight: 300;
                                font-size:14px;
                            }
                        }
                    }

                    .bottomHolder{
                        position:relative;
                        min-height:135px;
                        @include bgAlpha(255, 255, 255, 1.0);

                        .title {
                            padding: 15px 18px 15px;
                            text-align: left;
                            font-size: 21px;
                            color: $copyGrey;
                            font-weight: 100;
                            line-height: 26px;
                            min-height:80px;
                        }
                        a {
                            display: block;
                            text-align: left;
                            padding: 0 18px 0;
                            text-decoration: none;
                            color: $dsBlue;
                            font-size: 15px;
                            font-weight: 400;
                        }
                        :hover{
                            color:$rollOverColor;
                        }
                    }
                }
            }

            .see-more-btn{
                padding:50px 0 50px;
            }
        }
    }
}