.checkingTable{
    margin:0 0 40px;
    table {
        @include boxSizing;
        width: 958px;
        position: relative;
        border-collapse: collapse;


        tr {
            th {
                @include boxSizing;
                background: $tableHeader;
                font-size: 21px;
                color: #FFF;
                font-weight: 100;
                padding: 10px 10px;
                &.first {
                    border-left: 1px solid red;
                    min-width: 250px;
                }
                &.buttons {
                    width: 160px;
                }
            }
            td{
                @include boxSizing;
                padding:10px 10px;
                font-size:14px;
                font-weight: 100;
                color:$copyGrey;
                background-color:$col-light-grey;
                border-bottom:1px solid white;
                &:first-child{
                    text-align: left;
                    padding:0 0 0 20px;
                    background-color:$col-left;
                    border-right:2px solid white;
                }
                &:nth-child(2n+3){
                    background-color:$col-dark-grey;
                }
                .title{
                    font-size:15px;
                    font-weight: 300;
                    color:$copyDarkGray;
                }
                .learn-link{
                    a{
                        display: block;
                        padding: 10px 18px 0;
                        text-decoration: none;
                        color: $dsBlue;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    :hover{
                        color:$rollOverColor;
                    }
                }
                ul{
                    @include listReset;
                    li{
                        padding:0 10px 0 20px;
                        text-align: left;
                        background-image: url('img/bullet-icon.png');
                        background-repeat: no-repeat;
                        background-position: 10px 8px;
                    }
                }
            }
            &:nth-child(2){
                td{
                    text-align:left;
                    padding-left:20px;
                }
            }
        }



    }

    &.three-col{
        table{
            width: 718px;
            tr{
                td{
                    text-align: center;
                    .title{
                        text-align: left;
                        font-weight: 400;
                        color:$copyDarkGray;
                        a{
                            color:$dsBlue;
                            text-decoration: none;
                        }
                        :hover{
                            color:$rollOverColor;
                        }
                    }

                    .rate-value{
                        font-weight: 400;
                        .asterisk{
                            font-size:10px;
                            vertical-align: super;
                        }
                    }
                    &:first-child{
                        text-align: left;
                    }
                }

                &:nth-child(2){
                    td{
                        padding-left:10px;
                        &:first-child{
                            padding-left:20px;
                        }
                    }
                }
            }
        }
    }

    &.small{
        table {
            width: 478px;
        }
    }
}

