//*, *:before, *:after {
//    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//}

@mixin cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    };
    &:after {
        clear: both;
    };
}

@mixin brd($color:red){
    border:1px solid $color;
}

/* Drop Shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

@mixin listReset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin boxSizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin circular {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@mixin rounded($radius: 0.5em) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin Roboto {
    font-family: Roboto, sans-serif;
}

@mixin bgAlpha($r, $g, $b, $a){
    background: rgb($r, $g, $b); /* The Fallback */
    background: rgba($r, $g, $b, $a);
}

