/*
 * Variables
 */
$baseWidth: 960px;
$col: 80px;

$dsBlue: #0078bd;
$headingBlue: #3276bf;
$subHeadingBlue: #45bce5;
$addressGrey: #a3a3a3;
$copyGrey: #545454;
$topNavHover: #00bce4;
$copyDarkGray: #666666;
$copyLightGrey: #ababab;
$homepageGrey : #eff0f1;
$orangeColor : #fe8d0b;
$orangeHover: darken($orangeColor, 10%);
$blueColor : #425dab;
$copyBlue: #0076c0;
$footerGrey : #545454;
$footerBlue: #0076c0;
$rollOverColor:#00bce4;
$subNavTitle:#9fa617;
$lightGrey:#b6b6b6;

$veryLightGrey:#999999;
$rateColor:#9fa617;
$tableHeader:#9fa617;

//table
$col-left:#fafafb;
$col-light-grey:#eff0f1;
$col-dark-grey:#e6e7e8;