/*
 * Grid
 */

.col {
    text-align: left;
    &.one {
        float: left;
        width: $col;
    }
    &.offsetOne {
        margin-left: $col;
    }
    &.two {
        float: left;
        width: $col * 2;
    }
    &.offsetTwo {
        margin-left: $col * 2;
    }
    &.three {
        float: left;
        width: $col * 3;
    }
    &.offsetThree {
        margin-left: $col * 3;
    }
    &.four {
        float: left;
        width: $col * 4;
    }
    &.five {
        float: left;
        width: $col * 5;
    }
    &.six {
        float: left;
        width: $col * 6;
    }
    &.seven {
        float: left;
        width: $col * 7;
    }
    &.eight {
        float: left;
        width: $col * 8;
    }
    &.offsetEight {
        margin-left: $col * 8;
    }
    &.nine {
        float: left;
        width: $col * 9;
    }
    &.ten {
        float: left;
        width: $col * 10;
    }
    &.eleven {
        float: left;
        width: $col * 11;
    }
    &.twelve {
        float: left;
        width: $col * 12;
    }
}