/* Footer */
footer{
    .topBlue{
        @include boxSizing;
        background-color: $copyBlue;
        padding-top:33px;
        height:95px;

        .leftCopy,
        .centerCopy,
        .rightCopy,
        .altCopy{
            color:#fff;
            font-family: Roboto, sans-serif;
            font-size: 21px;
            font-weight: 300;
            float:left;
        }

        .altCopy{
            display: inline-block;
            text-align: center;
            width:100%;
            float:none;
        }

        .leftCopy{
            padding-right:80px;
        }

        .rightCopy{
            float:right;
        }
    }

    .bottomGrey{
        @include cf;
        background-color: $footerGrey;
        min-height:370px;
        padding:50px 0 0;
        .item {
            float: left;
            width: 160px;
            color: #FFF;
        }
        ul {
            @include listReset;
            margin-bottom: 40px;
            li {
                a {
                    color: #FFF;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 100;
                    display: block;
                    margin-bottom: 5px;
                    line-height: 1.2;
                    &.title {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 13px;
                    }
                }
                :hover{
                    color:$rollOverColor;
                }
            }
            &.miscLinks {
                li {
                    margin-left:20px;
                    //margin-right:10px;
                    a {
                        font-size: 13px;
                        font-weight: 100;
                    }
                }
            }
        }

        #copyright-holder{
            float:left;
            width:100%;
            padding:0 0 40px;

            .logos {
                float:left;
                .footer-text{
                    font-size:13px;
                    font-weight:100;
                    display:inline;
                    text-align: left;
                    color:#fff;
                    padding:0 20px 0 0;
                }

                clear: both;
                @include cf;
                margin-bottom: 10px;
                ul {
                    display: inline-block;
                    @include listReset;
                    li {
                        display: inline-block;
                        margin: 0 12px;
                    }
                }
            }

            .social{
                float:right;
                .footer-text{
                    font-size:13px;
                    font-weight:100;
                    display:inline;
                    text-align: left;
                    color:#fff;
                    padding:0 20px 0 0;
                }
                ul {
                    display: inline-block;
                    @include listReset;
                    li {
                        display: inline-block;
                        margin: 0 12px;
                    }
                }
            }
        }
    }

    &#alt-footer{
        .bottomGrey{
            min-height: 130px;
        }
    }
}