/**
 * Grid Panel Layouts
 */

.gridPanel {
    //background: red;
    width: 100%;
    @include cf;
    padding-top: 20px;
    .item {
        float: left;
        width: 305px;
        margin-left: 22px;
        text-align: left;
        font-size: 14px;
        margin-bottom: 45px;
        /*
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        */
        &.first {
            margin-left: 0
        }
        .thumb {
            width: 305px;
            height: 250px;
            overflow: hidden;
            @include rounded(10px);
            margin-bottom: 20px;
            background: #FFF;
        }
        a {
            color: $dsBlue;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        h3 {
            font-size: 18px;
            font-weight: 700;
        }
        p {
            margin: 15px 0 3px 0;
            padding: 0;
            font-size: 14px;
        }

        .selectricWrapper {
            width: 100%;
            margin-top: 5px;
        }
    }
}