.gridWrap {
    @include cf;
    padding-top:55px;
    .item {
        @include boxSizing;
        float: left;
        width: 100%;
        min-width:180px;
        max-width: 200px;
        margin-left: 40px;
        margin-bottom: 25px;
        .icon-item{
            margin-bottom:35px;
        }
        h3{
            font-size:18px;
            font-weight:300;
            color:#545454;
        }
        .copy{
            font-size:15px;
            font-weight:400;
            color:#545454;
        }
    }
    &.white-bg{
        @include bgAlpha(255, 255, 255, 0.6);
        border:1px solid white;
        width:960px;
        height:400px;
    }
    &.bottomSection{
        text-align:center;
    }
}