/**
 * Page Modules
 */

.module {
    @include cf;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .sectionBg {
        display: none;
    }

    .container {
        padding: 50px 0 70px 0;
        &.center {
            text-align: center;
        }
        h1{
            font-family: Roboto, sans-serif;
            font-size:31px;
            font-weight: 300;
            color:#fff;
        }
        h2{
            font-size:18px;
            font-weight:400;
            color:#fff;
        }
    }
}