<footer>
	<div class="footer-links">
		<div class="col five">
			<ul class="left-links">
				<li><a href="">Site Map</a></li>
				<li><a href="">Legal</a></li>
			</ul>
		</div>
		<div class="col five">
			<ul class="right-links">
				<li><a href="">Terms &amp; Conditions</a></li>
				<li><a href="">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
	<ul class="icons">
		<li class="fb-icon"><a href=""><img src="/mobile/img/icons/fb-icon.png" alt="facebook icon"/></a></li>
		<li class="tw-icon"><a href=""><img src="/mobile/img/icons/tw-icon.png" alt="twitter icon"/></a></li>
		<li class="nc-icon"><a href=""><img src="/mobile/img/icons/ncua-icon.png" alt="ncua icon"/></a></li>
		<li class="eh-icon"><a href=""><img src="/mobile/img/icons/eh-icon.png" alt="equal housing lender icon"/></a></li>
	</ul>

	<p>&copy;2014 Desert Schools Federal Credit Union</p>
</footer>