<meta charset="utf-8">
<meta name="viewport" content="width=640, user-scalable=0">
<meta name="format-detection" content="telephone=no">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,500italic,600italic,700italic,400,300,500,600,700' rel='stylesheet' type='text/css'>

<!-- Slidebars CSS -->
<link rel="stylesheet" href="/mobile/css/vendor/slidebars.min.css">

<!-- JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/mobile/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

<!-- Slidebars -->
<script src="/mobile/js/vendor/slidebars.min.js"></script>

<!-- Global Styles -->
<link rel="stylesheet" href="/mobile/css/mobile-main.css">
<link rel="stylesheet" href="/mobile/css/vendor/slick.css">

<!-- Carousel -->
<script src="/mobile/js/vendor/slick.min.js"></script>
<script src="/mobile/js/carousel.js"></script>

<!-- Accordion -->
<script src="/mobile/js/accordion.js"></script>

<!-- Sitewide Scripts -->
<script src="/mobile/js/main.js"></script>
