<header class="sb-slide">
	<div id="menuIcon" class="sb-toggle-left"><a href="#"><img src="/mobile/img/menu-icon.png" alt="" /></a></div>
	<div id="logo">
		<a href="/"><img src="/mobile/img/logo-dsfcu.png" alt="Desert Schools"></a>
	</div>
	<div id="login"><a href="">LOGIN</a></div>
</header>