a.btn {
    padding: 2rem 4rem;
    color: #FFF;
    font-weight: 400;
    font-size: 3.5rem;
    text-transform: uppercase;
    background: $baseBlueDS;
    display: inline-block;
    text-decoration: none;
    &.orange {
        background: $orangeButton;
    }

    &.center-btn{
        width:30rem;
        display:block;
        margin:0 auto;
        text-align: center;
    }
}