/**
 * Desert Schools Mobile Carousels
 */
.slider {

}

//Testimonial Controls
ul.testimonialControls{
    @include cf;
    @include listReset;
    margin-bottom: 5.7rem;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    text-align: center;

    li {
        display: inline-block;
        position: relative;
        .prev {
            cursor: pointer;
            margin:-24rem 23.2rem 0 0;
            width:25px;
            height:45px;
            background: url("img/controls-sliders.png") no-repeat 0 0;
        }
        .next {
            cursor: pointer;
            width: 25px;
            height: 45px;
            margin:-24rem 0 0 23.2rem;
            background: url("img/controls-sliders.png") no-repeat -97px 0;
        }
    }

}


//Custom Controls
ul.customControls {
    @include cf;
    @include listReset;
    margin-bottom: 5.7rem;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    text-align: center;
    li {
        display: inline-block;
        position: relative;
        .prev {
            cursor: pointer;
            margin:0 3rem 0 0;
            width:25px;
            height:45px;
            background: url("img/controls-sliders.png") no-repeat 0 0;
        }
        .next {
            cursor: pointer;
            width: 25px;
            height: 45px;
            margin:0 0 0 0;
            background: url("img/controls-sliders.png") no-repeat -97px 0;
        }
        ul.slick-dots {
            position: relative;
            bottom: 0;
            li {
                display: inline-block;
                float: left;
                margin:0 2.5rem 0 0;
                width: 36px;
                height: 45px;
                background: url("img/controls-sliders.png") no-repeat -25px 0;
                button {
                    &:before {
                        content: " " !important;
                    }
                }
                &.slick-active {
                    background: url("img/controls-sliders.png") no-repeat -61px 0;
                }
            }
        }
    }
}