/* Banners */

.module {
    padding: 0;
    position: relative;
    .lgBanners {
        position: relative;
        //Intro
        .intro {
            position: absolute;
            z-index: 100;
            width: 100%;
            text-align: center;
            padding-top: 55px;
            h2 {
                color: #FFF;
                font-size: 38px;
                font-weight: 300;
                margin: 0 0 20px 0;
                padding: 0;
                line-height: 1.3;
            }
            p {
                color: #FFF;
                font-size: 18px;
                margin: 0 0 18px 0;
            }
        }

        //CTA
        .cta {
            position: absolute;
            z-index: 100;
            bottom: 85px;
            width: 100%;
            text-align: center;
        }

        //Sliding Banners
        .lgbanners {
            position: relative;
            &.center {
                text-align: center;
            }
            &.slick-slider {
                margin-bottom: 0;
                .slick-track {
                    height: 530px;
                    .banner {
                        position: relative;
                        .asBg {
                            display: none;
                        }
                    }
                }
            }
        }

        //Banners Content
        .banner {
            padding-top: 0;//225px;
            color: #FFF;
            .container {
                padding: 0;
                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0 0 8px 0;
                    padding: 0;
                }
                p {
                    font-size: 16px;
                    margin: 0 0 10px 0;
                    padding: 0;
                }
                a {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        &.light {
            .intro {
                h2 {
                    color: $dsBlue;
                }
                p {
                    color: #000 !important;
                }
            }
            .banner {
                color: #000;
                .container {
                    h4 {
                        color: $dsBlue;
                    }
                    p {
                        color: #000 !important;
                    }
                }
            }
        }
    }
}

/**
 *  SubPages Banner
 */
.subBanner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: $dsBlue;
    position: relative;
    img.bannerBg {
        display: none;
    }
    .container {
        padding-top: 65px;
        font-size: 16px;
        color: #FFF;
        font-weight: 400;
        h1 {
            font-size: 32px;
            font-weight: 300;
            color: #FFF;
            margin-bottom: 40px;
        }
        p {
            font-size: 16px;
            color: #FFF;
            font-weight: 400;
            line-height: 1.5em;
            margin: 0 0 18px 0;
        }
    }
}