#breadcrumb {

    padding:10px 0;

    ul {
        @include listReset;
        li {
            display: inline-block;
            font-size: 13px;
            font-weight: 300;
            color: $copyGrey;
            a {
                color: $dsBlue;
                font-weight: 300;
                text-decoration: none;
                margin-right: 3px;

                &:hover {
                    //text-decoration: underline;
                }
            }
            &:after {
                content: "/";
                width: 6px;
                height: 9px;
                display: inline-block;
                margin-left: 7px;
            }
            &:last-child{
                &:after {
                    content: "";
                }
            }

        }
    }
}