a.btn {
    padding: 8px 21px;
    color: #FFF;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    background: $blueColor;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    &.orange {
        background: $orangeColor;
    }
    &.spacer {
        margin: 0 7px;
    }
    &:hover{
        background-color: $orangeHover;
    }
}