/**
 * Desert Schools Carousels
 */
.slider {
    //border: 1px solid red;
    .col {
        //background: #F00;
        overflow: hidden;

    }
    a {
        color: $dsBlue;
        text-decoration: none;
        h3 {
            font-size: 16px;
        }
    }
    .slick-prev {
        left: -25px;
        width: 22px;
        height: 37px;
        background: url("img/arrows-carousel.png") no-repeat 0 0;
        &.slick-disabled {
            background: url("img/arrows-carousel.png") no-repeat 0 -40px;
        }
    }
    .slick-next {
        right: -25px;
        width: 22px;
        height: 37px;
        background: url("img/arrows-carousel.png") no-repeat -26px 0;
        &.slick-disabled {
            background: url("img/arrows-carousel.png") no-repeat -26px -40px;
        }
    }

    //Single Item Scroll
    &.singleItem {
        .item {
            .col {
                &.eight {
                    margin: 0 auto;
                    float: none;
                    overflow: hidden;
                    color: #FFF;
                }
            }
            //Image
            .mainImage {
                width: 100%;
                overflow: hidden;
                background: #FFF;
                @include rounded(10px);
                overflow: hidden;
                margin-bottom: 20px;
                img {
                    overflow: hidden;
                    @include rounded(10px);
                }
            }
            a {
                color: #FFF;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            h3 {
                font-weight: 600;
                color: #FFF;
                font-size: 18px;
                margin: 0;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
                margin: 0 0 13px 0;
            }
            p {
                font-size: 16px;
                font-weight: 300;
                margin: 0 0 18px 0;
            }
        }
    }


}


//Custom Controls
ul.customControls {
    @include cf;
    @include listReset;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    text-align: center;
    li {
        display: inline-block;
        position: relative;
        .prev {
            cursor: pointer;
            width: 11px;
            height: 18px;
            background: url("img/controls-banner-sliders.png") no-repeat 0 0;
        }
        .next {
            cursor: pointer;
            width: 11px;
            height: 18px;
            background: url("img/controls-banner-sliders.png") no-repeat -69px 0;
        }
        ul.slick-dots {
            position: relative;
            bottom: 0;
            li {
                display: inline-block;
                float: left;
                width: 16px;
                height: 18px;
                background: url("img/controls-banner-sliders.png") no-repeat -23px 0;
                button {
                    &:before {
                        content: " " !important;
                    }
                }
                &.slick-active {
                    background: url("img/controls-banner-sliders.png") no-repeat -39px 0;
                }
            }
        }
    }
}

//Controls on White (Light) Backgrounds
.module {
    .lgBanners {
        &.light {
            ul.customControls {
                li {
                    .prev {
                        background: url("img/controls-banner-sliders.png") no-repeat 0 -18px;
                    }
                    .next {
                        background: url("img/controls-banner-sliders.png") no-repeat -69px -18px;
                    }
                    ul.slick-dots {
                        position: relative;
                        bottom: 0;
                        li {
                            background: url("img/controls-banner-sliders.png") no-repeat -23px -18px;
                            &.slick-active {
                                background: url("img/controls-banner-sliders.png") no-repeat -39px -18px;
                            }
                        }
                    }
                }
            }
        }
    }
}