/**
 * Forms
 */

//Defaults
$inputBorder: #cccccc;

input[type=text],
input[type=email],
input[type=number]{
    float: left;
    width: 200px;
    height: 38px;
    margin: 0;
    border: 1px solid $inputBorder;
    text-indent: 10px;
    font-size:14px;
    margin:14px 0;
    font-weight:400;
    outline:none;
    @include Roboto;
}

input[type=submit]{
    text-transform: uppercase;
    background: $dsBlue;
    color: #FFF;
    padding: 16px 21px;
    border: 0;
    font-weight: 700;
    @include Roboto;
}

/* Contact Form at bottom of pages */
.quickContact {
    width: 685px;
    margin: 0 auto;
    @include cf;
    input[type=submit]{
        margin-top: 18px;
    }
}