footer{
    padding:9.9rem 3.2rem 7.8rem 3.2rem;
    background-color:$mediumGray;
    @include cf;

    ul.left-links,
    ul.right-links{
        li{
            a{
                text-decoration: none;
                font-size:3rem;
                font-weight: 400;
                color:#fff;
            }
            padding:0 0 5.3rem;
        }
    }

    ul.icons{

        @include listReset;
        li{
            padding:0;
            margin:0;
            //width:8rem;
            display: inline-block;

            &.fb-icon{
                padding:0 4rem 0 0;
            }
            &.tw-icon{
                padding:0 8rem 0 0;
            }

            &.nc-icon{
                padding:0 5rem 0 0;
            }

            &.eh-icon{
                padding:0;
               // border:1px solid red;
            }
        }

    }

    p{
        text-align:center;
        font-size:2.5rem;
        color:#fff;
        font-weight:400;
        padding:7.8rem 0 0;
    }
}