/**
 * Accordion
 */
.exAccordion{
    margin:0;
    z-index: 100;
}
.accordionButton {
    width: 100%;
    float: left;
    padding:4.7rem 4rem;
    cursor: pointer;
    background: url("img/menu-show-hide.png") no-repeat 95% 50px $baseBlueDS;
    color: #eff0f1;
    font-size: 3.2rem;
    font-weight: 400;
    border-bottom:1px solid #fff;
    span {
        font-size: 22px;
        text-transform: none;
        padding-left: 20px;
        font-weight: 300;
    }
    &.active {
        background: url("img/menu-show-hide.png") no-repeat 95% -33px $baseBlueDS;
    }
}

.accordionContent {
    background-color: #fff;
    width: 100%;
    float: left;
    display: none;
    color: $baseBlueDS;

    ul{
        li{
            //@include boxSizing;
            height:120px;
            padding:4.8rem 0 0 3.9rem;//
            color:$baseBlueDS;
            font-size:3.5rem;
            border-bottom:1px solid $baseBlueDS;
        }
        &:last-child{
            border-bottom:none;
        }
    }
    &.gray-bg{
        background-color: #eff0f1;
    }
}