/**
 * Mixins
 */
@mixin cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    };
    &:after {
        clear: both;
    };
}

@mixin brd($color:red){
    border:1px solid $color
}

@mixin listReset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin boxSizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin bgAlpha($r, $g, $b, $a){
    background: rgb($r, $g, $b); /* The Fallback */
    background: rgba($r, $g, $b, $a);
}