/**
 * Header for Desert Schools Mobile Site.
 *
 * @author Ray Dolber <ray@pixelhacker.com>
 */
header {
    @include cf;
    position:fixed;
    display: block;
    background-color: #fff;
    height: 117px;
    width: 100%;
    max-width: 64rem;
    z-index:400;//

    border-bottom:1px solid #ccc;

    #menuIcon {
        float: left;
        padding: 4.1rem 7rem 0 4rem;
    }

    #logo {
        padding: 3rem 0 0;
        float: left;
    }

    #login{

        float:right;
        padding:5rem 4rem 0 0;
        display: inline-block;
        a{
            text-decoration: none;
            font-size:3rem;
            color:$lightBlueDS;
            font-weight:700;
        }
    }
}