#main-module {
    height: 786px;
    max-width: 64rem;
    background-size: 100%;
    margin:11.7rem 0 0;

    img.sectionBg {
        display: none;
    }

    .become-member-panel {
        @include boxSizing;
        margin: 35.9rem 0 2.7rem 4rem;
        .blue-panel {
            @include boxSizing;
            display: inline-block;
            text-align: left;
            position: relative;
            height: 81px;
            padding:0 3rem 0;
            background-color: $baseBlueDS;
            h1 {
                display:block;
                width:100%;
                padding: .65em 0 0;
                font-size: 3.5rem;
                font-weight: 300;
                color: #fff;
            }
        }

        .white-panel {
            @include boxSizing;
            width: 56rem;
            height: 346px;
            margin: -2.8rem 0 0;
            //z-index: 1;
            @include bgAlpha(255, 255, 255, 0.85);
            text-align: left;
            padding: 7rem 2rem 4.3rem 4.1rem;
            p {
                display: block;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 22px;
                color: $mediumGray;
                font-size: 2em;
                line-height: 1.2;
                padding: 0 0 4.6rem;
            }
        }

        float: left;

    }
}