//COLORS
$lightBlueDS: #0078bd;
$baseBlueDS: #3276bf;
$orangeButton: #fe8d0b;
$mediumGray: #545454;
$ratesGray: #666666;
$lightGray: #b6b7ba;
$lighterGray: #ababab;
$veryLightGray: #999999;
$grayBackground: #eff0f1;
$selectedState: #45bce5;
$line-color:#a3a3a3;
$baseGreen:#9fa617;
$hightlight-green:#b5ba61;

$row-color-1:#ececec;
$row-color-2:#e4e4e4;

//FONTS
$fonts: "Roboto", sans-serif;
$base-font: 16px;

//LAYOUTS
$col: 5.3rem;