/**
 * Global styles for DSCFU Mobile Site.
 *
 * @author Ray Dolber <ray@pixelhacker.com>
 */

@import url("vendor/reset.css");
/**
 * Mixins
 */
@import "mixins";
@import "variables";
@import "layout/grid";
@import "components/buttons";
@import "components/carousels";

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/**
 * Defaults
 */
html{
    font-size:62.5%;
}

body {
    background-color: #fff;
    font-family: $fonts;
    font-size: $base-font;
    width:100%;
    max-width: 64rem;
}

.cleaner {
    clear: both;
}

.center {
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

#dimmer {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
}

.page {
    width: 100%;
    max-width: 767px;
    overflow-x: hidden;
}

#wrapper{
    margin:11.4rem 0 0;
}

@import "mobile-header";
@import "mobile-home";

/**
 * Modules styles
 */
@import "menu";
@import "modules/location-module";
@import "modules/contact-module";
@import "modules/rates-module";
@import "modules/benefits";
@import "modules/reco-module";
@import "modules/loans-content";
@import "modules/rates-accordion-module";
@import "modules/more-links";
@import "modules/checking-accounts-module";
@import "modules/categories-module";
@import "modules/mortgage-rates";
@import "modules/tools-list-module";
@import "modules/special-programs-module";
@import "modules/got-questions-module";
@import "modules/checking-membership-module";
@import "modules/search-results-module";
@import "modules/article-module";
@import "modules/conversion-module";
@import "modules/conversion-chart";
@import "modules/conversion-signup";
@import "modules/conversion-testimonial-module";
@import "modules/conversion-testimonial-location-module";
@import "modules/slider-module";
@import "modules/form-elements";
@import "footer";