/**
 * Global styles for DSCFU Mobile Site.
 *
 * @author Ray Dolber <ray@pixelhacker.com>
 */
@import url("vendor/reset.css");
/**
 * Mixins
 */
/**
 * Mixins
 */
/*
 * Grid
 */
.col {
  text-align: left; }
  .col.one {
    float: left;
    width: 5.3rem; }
  .col.offsetOne {
    margin-left: 5.3rem; }
  .col.two {
    float: left;
    width: 10.6rem; }
  .col.offsetTwo {
    margin-left: 10.6rem; }
  .col.three {
    float: left;
    width: 15.9rem; }
  .col.offsetThree {
    margin-left: 15.9rem; }
  .col.four {
    float: left;
    width: 21.2rem; }
  .col.five {
    float: left;
    width: 26.5rem; }
  .col.six {
    float: left;
    width: 31.8rem; }
  .col.seven {
    float: left;
    width: 37.1rem; }
  .col.eight {
    float: left;
    width: 42.4rem; }
  .col.offsetEight {
    margin-left: 42.4rem; }
  .col.nine {
    float: left;
    width: 47.7rem; }
  .col.ten {
    float: left;
    width: 53rem; }
  .col.eleven {
    float: left;
    width: 58.3rem; }
  .col.twelve {
    float: left;
    width: 63.6rem; }

a.btn {
  padding: 2rem 4rem;
  color: #FFF;
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: uppercase;
  background: #3276bf;
  display: inline-block;
  text-decoration: none; }
  a.btn.orange {
    background: #fe8d0b; }
  a.btn.center-btn {
    width: 30rem;
    display: block;
    margin: 0 auto;
    text-align: center; }

/**
 * Desert Schools Mobile Carousels
 */
ul.testimonialControls {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5.7rem;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  text-align: center; }
  ul.testimonialControls:before, ul.testimonialControls:after {
    content: " ";
    display: table; }
  ul.testimonialControls:after {
    clear: both; }
  ul.testimonialControls li {
    display: inline-block;
    position: relative; }
    ul.testimonialControls li .prev {
      cursor: pointer;
      margin: -24rem 23.2rem 0 0;
      width: 25px;
      height: 45px;
      background: url("img/controls-sliders.png") no-repeat 0 0; }
    ul.testimonialControls li .next {
      cursor: pointer;
      width: 25px;
      height: 45px;
      margin: -24rem 0 0 23.2rem;
      background: url("img/controls-sliders.png") no-repeat -97px 0; }

ul.customControls {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5.7rem;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  text-align: center; }
  ul.customControls:before, ul.customControls:after {
    content: " ";
    display: table; }
  ul.customControls:after {
    clear: both; }
  ul.customControls li {
    display: inline-block;
    position: relative; }
    ul.customControls li .prev {
      cursor: pointer;
      margin: 0 3rem 0 0;
      width: 25px;
      height: 45px;
      background: url("img/controls-sliders.png") no-repeat 0 0; }
    ul.customControls li .next {
      cursor: pointer;
      width: 25px;
      height: 45px;
      margin: 0 0 0 0;
      background: url("img/controls-sliders.png") no-repeat -97px 0; }
    ul.customControls li ul.slick-dots {
      position: relative;
      bottom: 0; }
      ul.customControls li ul.slick-dots li {
        display: inline-block;
        float: left;
        margin: 0 2.5rem 0 0;
        width: 36px;
        height: 45px;
        background: url("img/controls-sliders.png") no-repeat -25px 0; }
        ul.customControls li ul.slick-dots li button:before {
          content: " " !important; }
        ul.customControls li ul.slick-dots li.slick-active {
          background: url("img/controls-sliders.png") no-repeat -61px 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Defaults
 */
html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 64rem; }

.cleaner {
  clear: both; }

.center {
  width: 100%;
  text-align: center; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

#dimmer {
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none; }

.page {
  width: 100%;
  max-width: 767px;
  overflow-x: hidden; }

#wrapper {
  margin: 11.4rem 0 0; }

/**
 * Header for Desert Schools Mobile Site.
 *
 * @author Ray Dolber <ray@pixelhacker.com>
 */
header {
  position: fixed;
  display: block;
  background-color: #fff;
  height: 117px;
  width: 100%;
  max-width: 64rem;
  z-index: 400;
  border-bottom: 1px solid #ccc; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header #menuIcon {
    float: left;
    padding: 4.1rem 7rem 0 4rem; }
  header #logo {
    padding: 3rem 0 0;
    float: left; }
  header #login {
    float: right;
    padding: 5rem 4rem 0 0;
    display: inline-block; }
    header #login a {
      text-decoration: none;
      font-size: 3rem;
      color: #0078bd;
      font-weight: 700; }

#main-module {
  height: 786px;
  max-width: 64rem;
  background-size: 100%;
  margin: 11.7rem 0 0; }
  #main-module img.sectionBg {
    display: none; }
  #main-module .become-member-panel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 35.9rem 0 2.7rem 4rem;
    float: left; }
    #main-module .become-member-panel .blue-panel {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
      position: relative;
      height: 81px;
      padding: 0 3rem 0;
      background-color: #3276bf; }
      #main-module .become-member-panel .blue-panel h1 {
        display: block;
        width: 100%;
        padding: .65em 0 0;
        font-size: 3.5rem;
        font-weight: 300;
        color: #fff; }
    #main-module .become-member-panel .white-panel {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 56rem;
      height: 346px;
      margin: -2.8rem 0 0;
      background: white;
      /* The Fallback */
      background: rgba(255, 255, 255, 0.85);
      text-align: left;
      padding: 7rem 2rem 4.3rem 4.1rem; }
      #main-module .become-member-panel .white-panel p {
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 22px;
        color: #545454;
        font-size: 2em;
        line-height: 1.2;
        padding: 0 0 4.6rem; }

/**
 * Modules styles
 */
/**
 * Accordion
 */
.exAccordion {
  margin: 0;
  z-index: 100; }

.accordionButton {
  width: 100%;
  float: left;
  padding: 4.7rem 4rem;
  cursor: pointer;
  background: url("img/menu-show-hide.png") no-repeat 95% 50px #3276bf;
  color: #eff0f1;
  font-size: 3.2rem;
  font-weight: 400;
  border-bottom: 1px solid #fff; }
  .accordionButton span {
    font-size: 22px;
    text-transform: none;
    padding-left: 20px;
    font-weight: 300; }
  .accordionButton.active {
    background: url("img/menu-show-hide.png") no-repeat 95% -33px #3276bf; }

.accordionContent {
  background-color: #fff;
  width: 100%;
  float: left;
  display: none;
  color: #3276bf; }
  .accordionContent ul li {
    height: 120px;
    padding: 4.8rem 0 0 3.9rem;
    color: #3276bf;
    font-size: 3.5rem;
    border-bottom: 1px solid #3276bf; }
  .accordionContent ul:last-child {
    border-bottom: none; }
  .accordionContent.gray-bg {
    background-color: #eff0f1; }

/**** BEGIN LOCATION MODULE ****/
#location-module {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.7rem 0 4rem; }
  #location-module h3 {
    font-weight: 300;
    font-size: 3.5rem;
    color: #fff;
    padding: 0 0 2.2rem 4rem; }
  #location-module .input-holder {
    padding: 0 1.6rem; }
    #location-module .input-holder:before, #location-module .input-holder:after {
      content: " ";
      display: table; }
    #location-module .input-holder:after {
      clear: both; }
    #location-module .input-holder input[type=text] {
      -webkit-appearance: none;
      border-radius: 0;
      outline: none;
      border: 0;
      float: left;
      width: 51rem;
      height: 6.8rem;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #fff;
      font-size: 3.6rem;
      color: #b6b7ba;
      line-height: 6.4rem;
      padding: 0 0 0 2.3rem; }
    #location-module .input-holder input[type=submit] {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: url("img/btn-search.png") no-repeat 70% 48%;
      -webkit-appearance: none;
      border-radius: 0;
      outline: none;
      border: 0;
      float: left;
      width: 8.1rem;
      height: 6.8rem;
      border-left: 1px solid #fff;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      margin: 0 1.7rem 0 0; }
  #location-module.blue-bg {
    background-color: #3276bf; }

/**** END LOCATION MODULE ****/
#contact-module {
  padding: 5rem 4rem 0;
  text-align: center; }
  #contact-module:before, #contact-module:after {
    content: " ";
    display: table; }
  #contact-module:after {
    clear: both; }
  #contact-module h2 {
    font-weight: 300;
    font-size: 4.5rem;
    color: #3276bf;
    padding: 0 0 3rem; }
  #contact-module .contact-dept {
    text-align: left;
    float: left;
    width: 50%; }
    #contact-module .contact-dept p {
      display: block;
      color: #545454;
      font-weight: 300;
      font-size: 3.5rem;
      margin: 0 0 3.8rem; }
  #contact-module .contact-numbers {
    float: right; }
    #contact-module .contact-numbers p {
      background: url("img/phone-icon.png") no-repeat 0 0.8rem;
      height: 5.1rem;
      padding: 1.6rem 0 3em 3.2rem;
      margin: 0 0 3.8rem 0; }
      #contact-module .contact-numbers p a {
        color: #3276bf;
        font-size: 3rem;
        font-weight: 700;
        text-decoration: none; }

#rates-module {
  padding: 5rem 4rem 6rem; }
  #rates-module div.stats-area {
    padding: 0 0 4rem; }
    #rates-module div.stats-area ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 0 0 2rem 4rem; }
      #rates-module div.stats-area ul li {
        display: inline-block;
        padding: 0 7rem 0 0; }
        #rates-module div.stats-area ul li a {
          text-decoration: none;
          color: #ababab;
          font-size: 4rem;
          font-weight: 700; }
        #rates-module div.stats-area ul li.active a {
          color: #45bce5; }
        #rates-module div.stats-area ul li:last-child {
          padding: 0; }
    #rates-module div.stats-area .nav-caret {
      display: block;
      margin: 2px 0 -2px 8rem; }
      #rates-module div.stats-area .nav-caret img {
        vertical-align: bottom; }
    #rates-module div.stats-area .nav-line {
      display: block;
      border-bottom: 2px solid #a3a3a3; }
    #rates-module div.stats-area .stats-content {
      padding: 4rem 0 2rem; }
      #rates-module div.stats-area .stats-content:before, #rates-module div.stats-area .stats-content:after {
        content: " ";
        display: table; }
      #rates-module div.stats-area .stats-content:after {
        clear: both; }
      #rates-module div.stats-area .stats-content .left-content {
        float: left; }
        #rates-module div.stats-area .stats-content .left-content .stats-title {
          font-size: 3.6rem;
          font-weight: 500;
          color: #545454; }
        #rates-module div.stats-area .stats-content .left-content p {
          padding: .5em 0 0;
          font-size: 2.8rem;
          font-weight: 400;
          color: #ababab; }
        #rates-module div.stats-area .stats-content .left-content .rate {
          font-size: 8.5rem;
          font-weight: 400;
          color: #9fa617; }
      #rates-module div.stats-area .stats-content .center-content {
        float: left;
        font-size: 8rem;
        font-weight: 300;
        color: #a3a3a3;
        padding: 3rem 0 0 2.5rem; }
      #rates-module div.stats-area .stats-content .right-content {
        float: right; }
        #rates-module div.stats-area .stats-content .right-content .up-to {
          display: block;
          font-size: 2.8rem;
          font-weight: 400;
          color: #ababab;
          padding: .9rem 0 .5rem; }
        #rates-module div.stats-area .stats-content .right-content .cash {
          display: block;
          font-size: 8.2rem;
          font-weight: 400;
          color: #9fa617;
          padding: .0 0 .2rem; }
        #rates-module div.stats-area .stats-content .right-content .cash-back {
          display: block;
          font-size: 3.2rem;
          font-weight: 500;
          color: #545454; }
  #rates-module div.rates-area h4 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #3276bf;
    padding: 0 0 6rem; }
  #rates-module div.rates-area img {
    padding: 0 0 2.2rem; }
  #rates-module div.rates-area .title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #545454;
    line-height: 1.1;
    padding: 0 0 1.4rem; }
  #rates-module div.rates-area a {
    text-decoration: none;
    color: #3276bf;
    font-size: 3rem;
    font-weight: 700; }
  #rates-module div.rates-area .expires {
    padding: 2rem 0 0;
    color: #ababab;
    font-size: 2.4rem;
    font-weight: 400; }

#member-benefits {
  text-align: center;
  padding: 0 0 10rem; }
  #member-benefits img.benefitsBg {
    display: none; }
  #member-benefits h2 {
    font-size: 4.5rem;
    font-weight: 300;
    color: #fff;
    padding: 9.5rem 0 3.4rem; }
  #member-benefits p {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    padding: 0 4.3rem;
    line-height: 1.3; }
  #member-benefits .white-panel {
    background: white;
    /* The Fallback */
    background: rgba(255, 255, 255, 0.6);
    display: block;
    width: 48rem;
    height: 65.8rem;
    margin: 6rem 0 7.5rem 8rem; }
    #member-benefits .white-panel .item {
      padding: 4.8rem 0 0; }
      #member-benefits .white-panel .item img {
        margin: 0 auto;
        padding: 0 0 3.4rem; }
      #member-benefits .white-panel .item h3 {
        font-size: 3.5rem;
        font-weight: 300;
        color: #545454;
        padding: 0 0 3.8rem; }
      #member-benefits .white-panel .item p {
        font-size: 3rem;
        font-weight: 300;
        color: #545454; }

#recommended {
  padding: 4rem 0 0; }
  #recommended:before, #recommended:after {
    content: " ";
    display: table; }
  #recommended:after {
    clear: both; }
  #recommended h2 {
    text-align: center;
    font-weight: 300;
    font-size: 4.5rem;
    color: #3276bf;
    padding: 0 4rem 7.1rem; }
  #recommended ul li .caret {
    position: relative;
    display: block;
    margin: -2.8rem 0 0 4.6rem;
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 2.7rem solid #fff;
    z-index: 3; }
  #recommended ul li h3 {
    font-weight: 300;
    font-size: 3.5rem;
    color: #545454;
    padding: 2.5rem 0 1.5rem 4rem; }
  #recommended ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    color: #3276bf;
    padding: 0 0 10rem 4rem; }

#loans-content {
  padding: 5rem 0 0; }
  #loans-content:before, #loans-content:after {
    content: " ";
    display: table; }
  #loans-content:after {
    clear: both; }
  #loans-content .loans-top {
    padding: 0 4rem 0; }
    #loans-content .loans-top h2 {
      text-align: left;
      font-weight: 300;
      font-size: 4.5rem;
      color: #3276bf;
      padding: 0 0 4.5rem; }
    #loans-content .loans-top p {
      display: block;
      font-size: 3.3rem;
      font-weight: 300;
      color: #545454;
      line-height: 1.2;
      padding: 0 0 6.3rem; }
  #loans-content ul li .caret {
    position: relative;
    display: block;
    margin: -2.8rem 0 0 4.6rem;
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 2.7rem solid #fff;
    z-index: 3; }
  #loans-content ul li h3 {
    font-weight: 300;
    font-size: 3.5rem;
    color: #545454;
    padding: 2.5rem 0 1.5rem 4rem; }
  #loans-content ul li p {
    font-weight: 300;
    font-size: 3rem;
    color: #545454;
    line-height: 1.2;
    padding: 0 0 1.5rem 4rem; }
  #loans-content ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    color: #3276bf;
    padding: 0 0 10rem 4rem; }

.ratesAccordion,
.categoriesAccordion {
  padding: 0 0 4rem; }
  .ratesAccordion:before, .ratesAccordion:after,
  .categoriesAccordion:before,
  .categoriesAccordion:after {
    content: " ";
    display: table; }
  .ratesAccordion:after,
  .categoriesAccordion:after {
    clear: both; }
  .ratesAccordion .rates-title,
  .categoriesAccordion .rates-title {
    font-size: 4.6rem;
    font-weight: 400;
    color: #545454; }
  .ratesAccordion .copy,
  .categoriesAccordion .copy {
    font-size: 3.5rem;
    font-weight: 400;
    color: #999999; }
  .ratesAccordion .accordionContent:before, .ratesAccordion .accordionContent:after,
  .categoriesAccordion .accordionContent:before,
  .categoriesAccordion .accordionContent:after {
    content: " ";
    display: table; }
  .ratesAccordion .accordionContent:after,
  .categoriesAccordion .accordionContent:after {
    clear: both; }
  .ratesAccordion .accordionContent li,
  .categoriesAccordion .accordionContent li {
    border: none;
    padding: 4.4rem 4rem 2.8rem;
    height: auto; }
    .ratesAccordion .accordionContent li:before, .ratesAccordion .accordionContent li:after,
    .categoriesAccordion .accordionContent li:before,
    .categoriesAccordion .accordionContent li:after {
      content: " ";
      display: table; }
    .ratesAccordion .accordionContent li:after,
    .categoriesAccordion .accordionContent li:after {
      clear: both; }
    .ratesAccordion .accordionContent li .rate-title,
    .categoriesAccordion .accordionContent li .rate-title {
      float: left;
      font-size: 4.6rem;
      font-weight: 500;
      color: #545454;
      margin: 0 0 2rem; }
    .ratesAccordion .accordionContent li .rate-low,
    .categoriesAccordion .accordionContent li .rate-low {
      float: left;
      font-size: 3.5rem;
      font-weight: 400;
      color: #999999; }
    .ratesAccordion .accordionContent li .rate-value,
    .categoriesAccordion .accordionContent li .rate-value {
      font-size: 8.6rem;
      font-weight: 500;
      letter-spacing: -.2rem;
      color: #9fa617;
      margin: 0 0 0 2rem; }
    .ratesAccordion .accordionContent li .stats,
    .categoriesAccordion .accordionContent li .stats {
      float: left; }
      .ratesAccordion .accordionContent li .stats .percent,
      .categoriesAccordion .accordionContent li .stats .percent {
        display: inline-block;
        font-size: 4.3rem;
        font-weight: 300;
        color: #9fa617;
        margin: 6px 0 0; }
      .ratesAccordion .accordionContent li .stats .asterisk,
      .categoriesAccordion .accordionContent li .stats .asterisk {
        display: inline-block;
        font-size: 3.7rem;
        font-weight: 400;
        color: #999999;
        vertical-align: top;
        margin: 8px 0 0 -4px; }
      .ratesAccordion .accordionContent li .stats .apr,
      .categoriesAccordion .accordionContent li .stats .apr {
        font-size: 3rem;
        font-weight: 400;
        color: #545454;
        margin: 3px 0 0 2px; }
  .ratesAccordion .category li,
  .categoriesAccordion .category li {
    padding: 0; }
    .ratesAccordion .category li img,
    .categoriesAccordion .category li img {
      width: 640px; }

.categoriesAccordion {
  padding: 0 0 4rem; }

#more-module ul.more-links li {
  background: url("img/navigation-arrow.png") no-repeat 90% 4.4rem #3276bf;
  padding: 4.7rem 0 4.7rem 4rem;
  border-bottom: 1px solid #fff; }
  #more-module ul.more-links li a {
    display: block;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff; }

#checking-accounts-module {
  text-align: left; }
  #checking-accounts-module .checking-top {
    padding: 5.5rem 4rem 0; }
    #checking-accounts-module .checking-top h2 {
      font-weight: 300;
      font-size: 4.5rem;
      color: #3276bf;
      padding: 0 0 5.5rem; }
    #checking-accounts-module .checking-top p {
      display: block;
      font-size: 3.3rem;
      font-weight: 300;
      color: #545454;
      line-height: 1.2;
      padding: 0 0 6.3rem; }
  #checking-accounts-module ul.checking-accounts li {
    background: url("img/navigation-arrow.png") no-repeat 90% 50% #3276bf;
    padding: 4.5rem 0 4.5rem 4rem;
    border-bottom: 1px solid #fff; }
    #checking-accounts-module ul.checking-accounts li a {
      display: block;
      text-decoration: none; }
      #checking-accounts-module ul.checking-accounts li a .checking-title {
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
        padding: 0 0 3rem; }
      #checking-accounts-module ul.checking-accounts li a .checking-info {
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
        width: 52rem; }

ul.category-items li {
  padding: 0; }
  ul.category-items li .caret {
    position: relative;
    display: block;
    margin: -2.8rem 0 0 4.6rem;
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 2.7rem solid #fff;
    z-index: 3; }
  ul.category-items li .info {
    padding: 3.5rem 0 1.5rem 4rem; }
    ul.category-items li .info .category {
      font-weight: 400;
      font-size: 3rem;
      color: #b5ba61;
      padding: 0 0 1rem; }
    ul.category-items li .info h3, ul.category-items li .info .copy {
      font-weight: 300;
      font-size: 3.5rem;
      color: #545454;
      padding: 0 0 1.2rem; }
    ul.category-items li .info .copy {
      padding: 0;
      font-size: 3rem;
      line-height: 1.2; }
    ul.category-items li .info a {
      display: block;
      text-decoration: none;
      font-weight: 700;
      font-size: 3rem;
      color: #3276bf;
      padding: 1.6rem 0 9rem; }

#mortgage-rates p {
  font-size: 3.3rem;
  font-weight: 300;
  color: #545454;
  padding: 5.5rem 4rem;
  line-height: 1.2; }
#mortgage-rates h2 {
  font-size: 4.53rem;
  font-weight: 300;
  color: #3276bf;
  text-align: center;
  padding: 0 0 4rem; }
#mortgage-rates a {
  text-decoration: none; }
  #mortgage-rates a .green-header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 8rem;
    background: url("img/navigation-arrow.png") no-repeat 94% 2rem #9fa617;
    padding: 2.4rem 4rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 500; }
#mortgage-rates .info-row {
  width: 100%;
  height: 12.8rem;
  background-color: #fff; }
  #mortgage-rates .info-row:before, #mortgage-rates .info-row:after {
    content: " ";
    display: table; }
  #mortgage-rates .info-row:after {
    clear: both; }
  #mortgage-rates .info-row .rate,
  #mortgage-rates .info-row .apr,
  #mortgage-rates .info-row .points {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 221px;
    height: 7.8rem;
    float: left;
    background-color: #ececec;
    font-size: 2.5rem;
    font-weight: 400;
    color: #666666;
    padding: 2.8rem 0 0;
    margin: 0 .4rem 0 0; }
  #mortgage-rates .info-row .apr {
    width: 192px;
    background-color: #e4e4e4; }
  #mortgage-rates .info-row .points {
    width: 219px;
    margin: 0; }
#mortgage-rates .bottom-rates {
  padding: 0 0 5rem; }
  #mortgage-rates .bottom-rates h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #3276bf;
    text-align: center; }
  #mortgage-rates .bottom-rates .more-rates-copy {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: #545454;
    padding: 4rem 4rem 5rem;
    line-height: 1.2; }
  #mortgage-rates .bottom-rates a {
    margin: 0 0 0 18rem; }

#tools-list {
  background-color: #eff0f1;
  padding: 4.6rem 8.5rem 5rem; }
  #tools-list .tools-title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #545454;
    padding: 0 0 5.6rem; }
  #tools-list ul li {
    margin: 0 0 3rem;
    padding: 1.2rem 0 0 6.9rem;
    height: 53px;
    background: url("img/tools-icons.png") no-repeat; }
    #tools-list ul li a {
      text-decoration: none;
      color: #0078bd;
      font-weight: 700;
      font-size: 3rem; }
  #tools-list ul .calculators {
    background-position: 0 -53px; }
  #tools-list ul .loan-officer {
    background-position: 0 -106px; }

#special-programs {
  padding: 0 4rem 0; }
  #special-programs h2 {
    font-size: 4.5rem;
    font-weight: 300;
    color: #0078bd;
    padding: 7rem 0;
    text-align: center; }
  #special-programs img {
    width: 100%; }
  #special-programs ul li .caret {
    position: relative;
    display: block;
    margin: -2.8rem 0 0 4.6rem;
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 2.7rem solid #fff;
    z-index: 3; }
  #special-programs ul li h3 {
    font-weight: 300;
    font-size: 3.5rem;
    color: #545454;
    padding: 2.5rem 0 1.5rem; }
  #special-programs ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    color: #3276bf;
    padding: 0 0 10rem; }

#got-questions {
  background-color: #eff0f1;
  padding: 4.6rem 8.5rem 5rem; }
  #got-questions .questions-title {
    font-size: 4.5rem;
    font-weight: 300;
    color: #3276bf;
    padding: 0 0 5.6rem;
    text-align: center; }
  #got-questions ul li {
    width: 380px;
    margin: 0 0 4rem 3.4rem;
    vertical-align: middle;
    height: 63px; }
    #got-questions ul li a {
      text-decoration: none;
      color: #0078bd;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.1; }
      #got-questions ul li a img {
        float: left;
        padding: 0;
        margin: 0 2rem 0 0; }

#checking-membership {
  padding: 5.6rem 4rem 10rem; }
  #checking-membership h2 {
    color: #3276bf;
    font-size: 4.5rem;
    font-weight: 300;
    padding: 0 0 7.2rem; }
  #checking-membership h3 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0 0 4.2rem; }
  #checking-membership p {
    color: #545454;
    font-size: 3rem;
    font-weight: 300;
    padding: 0 0 5.5rem;
    line-height: 1.2; }
  #checking-membership ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 4rem; }
    #checking-membership ul li {
      background: url("img/bullet.png") no-repeat 0 20%;
      color: #545454;
      font-size: 3rem;
      font-weight: 300;
      padding: 0 2rem 3.7rem 2.3rem; }
  #checking-membership .apply-now a {
    margin: 0 0 6rem 13rem; }
  #checking-membership .learn-membership {
    text-align: center; }
    #checking-membership .learn-membership a {
      text-decoration: none;
      color: #3276bf;
      font-size: 3rem;
      font-weight: 700; }

#search-results {
  padding: 5rem 4rem; }
  #search-results h2 {
    color: #3276bf;
    font-size: 4.5rem;
    font-weight: 300;
    padding: 0 0 7rem; }
  #search-results p {
    color: #545454;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 5rem;
    border-bottom: 1px solid #bbb; }
  #search-results .search-results .result-item {
    padding: 0 0 3.5rem; }
    #search-results .search-results .result-item .results-title {
      color: #3276bf;
      font-size: 3rem;
      font-weight: 700;
      padding: 4.8rem 0 0; }
    #search-results .search-results .result-item .results-copy {
      color: #545454;
      font-size: 3rem;
      font-weight: 300;
      padding: 3rem 0 0; }
    #search-results .search-results .result-item .results-link {
      padding: 3rem 0 0; }
      #search-results .search-results .result-item .results-link a {
        text-decoration: none;
        color: #999999;
        font-size: 3rem;
        font-weight: 500; }
  #search-results .paginationHolder {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 3em 0;
    margin: 0 auto; }
    #search-results .paginationHolder ul.paginate {
      width: 100%;
      text-align: center;
      font-size: 4.4rem; }
      #search-results .paginationHolder ul.paginate:before, #search-results .paginationHolder ul.paginate:after {
        content: " ";
        display: table; }
      #search-results .paginationHolder ul.paginate:after {
        clear: both; }
      #search-results .paginationHolder ul.paginate li {
        float: left;
        margin: 0 .1rem 0 0;
        padding: 0; }
        #search-results .paginationHolder ul.paginate li a {
          display: block;
          width: 74px;
          height: 74px;
          text-decoration: none;
          padding: 1.2rem 0 0;
          margin: 0;
          color: #3276bf; }
          #search-results .paginationHolder ul.paginate li a.prevPage {
            background-image: url("img/prev-arrow.png");
            background-repeat: no-repeat;
            background-position: center left; }
          #search-results .paginationHolder ul.paginate li a.nextPage {
            background-image: url("img/next-arrow.png");
            background-repeat: no-repeat;
            background-position: center right; }
        #search-results .paginationHolder ul.paginate li .currentPage {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #3276bf;
          color: #fff; }
    #search-results .paginationHolder .powered-by {
      display: block;
      padding: 6rem 0 0;
      color: #999;
      font-size: 2.5rem;
      font-weight: 500;
      text-align: center; }

.article {
  padding: 0 4rem 6rem; }
  .article h2 {
    text-align: center;
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 1.2;
    color: #3276bf;
    padding: 3.7rem 0 3.7rem; }
  .article p {
    color: #545454;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .15rem;
    padding: 6rem 0 0; }
    .article p.secondary {
      font-size: 3.2rem;
      line-height: 1.2;
      padding: 0 0 6rem; }

.coverage-table {
  padding: 0 0 8rem; }
  .coverage-table .green-header {
    background-color: #9fa617;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 400;
    padding: 5rem 0;
    text-align: center;
    letter-spacing: .15rem; }
  .coverage-table .info-row {
    background-color: #fdfdfe;
    border-bottom: 2px solid #dcdcde; }
    .coverage-table .info-row:before, .coverage-table .info-row:after {
      content: " ";
      display: table; }
    .coverage-table .info-row:after {
      clear: both; }
    .coverage-table .info-row .coverage-title {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0 4rem;
      height: 9rem;
      line-height: 8rem;
      float: left;
      width: 66%; }
      .coverage-table .info-row .coverage-title span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        color: #545454;
        font-size: 3rem;
        font-weight: 400; }
    .coverage-table .info-row .icon-check {
      height: 9rem;
      background-color: #f3f3f4;
      float: left;
      width: 34%;
      text-align: center;
      padding: 3rem 0 0; }

.list-layout {
  padding: 0 4rem 0; }
  .list-layout h3 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0 0 4.2rem; }
  .list-layout ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 4rem; }
    .list-layout ul li {
      background: url("img/bullet.png") no-repeat 0 7%;
      color: #545454;
      font-size: 3rem;
      font-weight: 300;
      padding: 0 2rem 3.7rem 2.3rem;
      line-height: 1.4; }

.tabs-layout {
  padding: 0 4rem 7rem; }
  .tabs-layout h3 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0 0 4.2rem; }
  .tabs-layout ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 2rem; }
    .tabs-layout ul li {
      display: inline-block;
      padding: 0 5.5rem 0 0; }
      .tabs-layout ul li a {
        text-decoration: none;
        color: #ababab;
        font-size: 3.5rem;
        font-weight: 300; }
      .tabs-layout ul li.active a {
        color: #45bce5; }
      .tabs-layout ul li:last-child {
        padding: 0; }
  .tabs-layout .article-content {
    padding: 3rem 0 0;
    color: #545454;
    font-size: 3rem;
    font-weight: 300; }
  .tabs-layout .nav-caret {
    display: block;
    margin: 2px 0 -2px 6rem; }
    .tabs-layout .nav-caret img {
      vertical-align: bottom; }
  .tabs-layout .nav-line {
    display: block;
    border-bottom: 2px solid #a3a3a3; }

#related-module {
  padding: 6.7rem 4rem 3rem;
  background-color: #eff0f1; }
  #related-module h2 {
    text-align: center;
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 1.2;
    color: #3276bf;
    padding: 0 0 3rem; }
  #related-module ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: #3276bf;
    padding: 0 0 5rem; }

.conversion {
  padding: 4rem 0 4.6rem; }
  .conversion .main-conversion {
    padding: 0 4rem 5.3rem; }
    .conversion .main-conversion h2 {
      font-weight: 300;
      font-size: 3.5rem;
      color: #3276bf;
      padding: 0 0 4rem; }
    .conversion .main-conversion p {
      color: #545454;
      font-size: 3rem;
      font-weight: 300; }
      .conversion .main-conversion p.call {
        color: #3276bf;
        font-size: 3.5rem;
        font-weight: 400;
        padding: 4rem 0 0; }

.conversion-chart {
  padding: 0 4rem 4.6rem;
  width: 100%; }
  .conversion-chart h3 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0 0 4.2rem; }
  .conversion-chart ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 4rem 0; }
    .conversion-chart ul li {
      background: url("img/bullet.png") no-repeat 2rem 10%;
      color: #545454;
      font-size: 3rem;
      font-weight: 300;
      padding: 0 2rem 3.7rem 4rem;
      line-height: 1.4; }
  .conversion-chart a.see-more {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #3276bf;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 0 4rem; }

.conversion-signup {
  padding: 4.5rem 0 0;
  background-color: #eff0f1; }
  .conversion-signup h3 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0 4rem 5rem; }
  .conversion-signup .apply-module {
    padding: 3.8rem 0 0;
    background-color: #fff; }
    .conversion-signup .apply-module a.disclaimer {
      display: block;
      text-decoration: none;
      text-align: center;
      color: #3276bf;
      font-size: 3rem;
      font-weight: 700;
      padding: 2rem 0 4rem; }

#testimonial-module {
  padding: 0 4rem 4rem; }
  #testimonial-module:before, #testimonial-module:after {
    content: " ";
    display: table; }
  #testimonial-module:after {
    clear: both; }
  #testimonial-module h2 {
    color: #545454;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 2rem 0 0; }
  #testimonial-module .testimonial-container {
    margin: 4rem 0 0 0; }
  #testimonial-module .testimonial-thumb {
    float: left; }
  #testimonial-module .testimonial-thumb img {
    display: block; }
  #testimonial-module .testimonial-content {
    margin: 0 0 0 18rem; }
    #testimonial-module .testimonial-content p {
      color: #545454;
      font-size: 2.6rem;
      font-weight: 300; }
      #testimonial-module .testimonial-content p.author {
        padding: 1.3rem 0 0;
        font-style: italic;
        font-weight: 400; }

#testimonial-location-module {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem 4rem 8.4rem; }
  #testimonial-location-module p.call {
    text-align: center;
    color: #3276bf;
    font-size: 3.8rem;
    font-weight: 400;
    padding: 6rem 0 0;
    margin: 0 auto; }

#slider-module {
  height: 636px;
  overflow: none; }
  #slider-module img {
    width: 100%; }

label {
  color: #545454 !important;
  font-size: 3rem !important;
  font-weight: 300 !important; }

.styled-select {
  width: 59rem;
  height: 7.3rem;
  border: none;
  margin: 0 2.2rem 1.6rem 2.2rem;
  overflow: hidden;
  background: url("img/mobile-dropdown-icon.png") no-repeat 96% 45% white; }
  .styled-select select {
    background: transparent;
    width: 59rem;
    padding: 0 0 0 1.7rem;
    color: #3276bf;
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
    border: 0;
    border-radius: 0;
    height: 7.3rem;
    -webkit-appearance: none; }

input.conversion-input {
  color: #545454;
  font-size: 3rem;
  font-weight: 300;
  width: 59rem;
  height: 7.3rem;
  border: none;
  margin: 0 2.2rem 1.6rem 2.2rem;
  display: block;
  line-height: 3rem;
  padding: 0 0 0 1.7rem;
  -webkit-appearance: none;
  border-radius: 0; }
input[type=checkbox] {
  vertical-align: -4.4rem;
  width: 7.2rem;
  height: 7.2rem;
  margin: 0 2rem 2rem 2.2rem;
  background-color: #fff;
  -webkit-appearance: none;
  border: none;
  border-radius: 0; }
input.location-input {
  background: url("img/location-icon.png") no-repeat 1rem 8px white;
  border: 1.2rem solid #3276bf;
  font-size: 3.5rem;
  font-weight: 300;
  font-style: italic;
  width: 57rem;
  height: 9rem;
  padding: .7rem 0 0 6rem;
  display: block;
  line-height: 3rem;
  -webkit-appearance: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  color: #545454;
  font-size: 3rem;
  font-weight: 300;
  padding: 0; }

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  color: #545454;
  font-size: 3rem;
  font-weight: 300; }

footer {
  padding: 9.9rem 3.2rem 7.8rem 3.2rem;
  background-color: #545454; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer ul.left-links li,
  footer ul.right-links li {
    padding: 0 0 5.3rem; }
    footer ul.left-links li a,
    footer ul.right-links li a {
      text-decoration: none;
      font-size: 3rem;
      font-weight: 400;
      color: #fff; }
  footer ul.icons {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer ul.icons li {
      padding: 0;
      margin: 0;
      display: inline-block; }
      footer ul.icons li.fb-icon {
        padding: 0 4rem 0 0; }
      footer ul.icons li.tw-icon {
        padding: 0 8rem 0 0; }
      footer ul.icons li.nc-icon {
        padding: 0 5rem 0 0; }
      footer ul.icons li.eh-icon {
        padding: 0; }
  footer p {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    padding: 7.8rem 0 0; }
