#page {
    #article {
        width: 100%;

        .module {
            @include cf;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            &.grey-bg {
                background-color: $homepageGrey;
            }

            .chartWrapper{
                padding:20px 0 0;
                @include cf;
                .chart-info{
                    float:left;

                    p{
                        width:214px;
                    }
                }

                .checkingTable{
                    float:right;
                }
            }

        }
    }
}