#page {
    #conversion {
        width: 100%;

        .module {
            @include cf;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .container {
                padding: 25px 0 0;
                &.center {
                    text-align: center;
                }

                img{
                    margin:0 0 37px;
                }

                h1{
                    font-family: Roboto;
                    font-size:32px;
                    font-weight: 100;
                    color:$dsBlue;
                }

                h2{
                    font-family: Roboto;
                    font-size:18px;
                    font-weight: 100;
                    color:$copyGrey;
                }

                .two-col-full{
                    width:960px;
                    padding:0 0 68px;
                    @include cf;
                    .left-col{
                        float:left;
                        width:436px;

                        p{
                            font-size:21px;
                            font-weight:100;
                            color:$copyGrey;
                            margin:0 0 10px;
                        }

                        ul{
                            @include listReset;
                            li{
                                padding:0 0 19px 20px;
                                font-size:15px;
                                font-weight:100;
                                color:$copyGrey;
                                line-height:1.2;
                                background-image: url('img/bullet-icon.png');
                                background-repeat: no-repeat;
                                background-position: 10px 8px;
                            }
                        }

                        .btn{
                            margin:28px 0 46px;
                        }

                        .search-location{
                            input[type="text"]{
                                @include boxSizing;
                                float:left;
                                font-size:18px;
                                font-weight:100;
                                color: #b6b7ba;
                                width:330px;
                                height:76px;
                                outline:none;
                                margin:0;
                                border:none;
                                border-top:11px solid #eff0f1;
                                border-left:11px solid #eff0f1;
                                border-bottom:11px solid #eff0f1;
                            }

                            input[type="submit"]{
                                @include boxSizing;
                                float:left;
                                width:66px;
                                height:76px;
                                outline:none;
                                border:none;
                                border-top:11px solid #eff0f1;
                                border-right:11px solid #eff0f1;
                                border-bottom:11px solid #eff0f1;
                                background:url('img/icon-magnifying-glass.png') no-repeat;
                                text-indent: -9999px;
                            }
                        }


                        ::-webkit-input-placeholder {
                            color: #b6b7ba;
                            font-family:Roboto;
                            font-size:18px;
                            padding:0;
                            margin:0;
                            font-weight: 100;
                            line-height:0.9;
                        }

                        :-moz-placeholder { /* Firefox 18- */
                            color: #b6b7ba;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        ::-moz-placeholder {  /* Firefox 19+ */
                            color: #b6b7ba;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        :-ms-input-placeholder {
                            color: #b6b7ba;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        .testimonial-holder{
                            @include cf;
                            padding:0 0 40px;
                            p{
                                padding:0 0 16px;
                                margin:0;
                            }
                            img{
                                float:left;
                                width:107px;
                                height:79px;
                                margin:0;
                            }

                            .customer-quote,
                            .customer-info{
                                float:left;
                                font-size:14px;
                                font-weight:100;
                                width:280px;
                                padding:0 0 0 17px;
                                line-height: 1.2;
                            }

                            .customer-info{
                                font-size:15px;
                                font-weight:300;
                                font-style: italic;
                                padding:10px 0 0 17px;

                            }
                        }
                    }

                    .right-col{
                        @include cf;
                        padding:21px 17px 100px;
                        background-color:$col-light-grey;
                        float:right;
                        width:488px;

                        p{
                            padding:0;
                            margin:0;
                            font-size:21px;
                            font-weight: 100;
                            color:$copyGrey;
                        }

                        .disclaimer{
                            font-size:14px;
                            font-weight:300;
                            color:#989898;
                        }



                        .first-name,
                        .last-name,
                        .address,
                        .city,
                        .phone-number,
                        .email-address,
                        .zip-code
                        {
                            padding:0;
                            margin:0;
                            width:500px;
                            display:inline-block;

                            input[type="text"]{
                                padding:0;
                                margin:10px 0 0;
                                color:$copyGrey;
                                width:447px;
                                height:39px;
                                border:none;
                                outline:none;

                                font-family:Roboto;
                                font-size:18px;
                                font-weight: 100;
                                line-height:0.9;
                            }

                        }

                        ::-webkit-input-placeholder {
                            color: $copyGrey;
                            font-family:Roboto;
                            font-size:18px;
                            padding:0;
                            margin:0;
                            font-weight: 100;
                            line-height:0.9;
                        }

                        :-moz-placeholder { /* Firefox 18- */
                            color: $copyGrey;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        ::-moz-placeholder {  /* Firefox 19+ */
                            color: $copyGrey;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        :-ms-input-placeholder {
                            color: $copyGrey;
                            font-family:Roboto;
                            font-size:18px;
                            padding:3px 0 0;
                            margin:0;
                            font-weight: 100;
                            line-height:1.9;
                        }

                        .location-holder{
                            @include cf;
                            width:447px;
                            height:39px;
                            margin:10px 0 5px;
                            .city{
                                float:left;
                                width:191px;
                                margin:0 7px 0 0;
                                input{
                                    width:191px;
                                    height:39px;
                                    margin:0;
                                }
                            }

                            .state{

                                float:left;
                                width:96px;
                                overflow: hidden;
                                background: url(img/select_arrow.png) no-repeat right #fff;
                                select{
                                    background: transparent;
                                    -webkit-appearance: none;
                                    -moz-appearance: window;
                                    appearance: none;
                                    border: 0;
                                    border-radius: 0;
                                    width:96px;
                                    height:39px;
                                    margin:0;
                                    padding:0 0 0 10px;
                                    color: $copyGrey;
                                    font-family:Roboto;
                                    font-size:18px;
                                    font-weight:100;
                                    outline:0;
                                    padding:0 0 3px 10px;
                                }
                            }

                            .zip-code{
                                float:right;
                                width:143px;
                                input{
                                    width:143px;
                                    margin:0;
                                }

                            }
                        }

                        .submit-holder{
                            @include cf;
                            padding:32px 0;
                            label{
                                font-size:18px;
                                font-weight:300;
                                color:$copyGrey;
                                float:left;
                                padding:5px 0 0;
                                //border: 1px solid red;
                            }

                            a{
                                float:right;
                                margin:0 6px 0 0;
                                padding-left:33px;
                                width:120px;
                            }

                            /* Checkbox Styling */
                            input[type="checkbox"] {
                                float:left;
                                margin:3px 0 0;
                                display: none;
                            }

                            input[type="checkbox"] + label {
                                display:inline-block;
                                cursor: pointer;
                                margin-bottom: 3px;
                                display: block;
                                &:before {
                                    display: inline-block;
                                    content: "";
                                    width: 23px;
                                    height: 23px;
                                    margin: 0px 8px 0 0;
                                    vertical-align: middle;
                                    background: url("img/checkbox.png") left top no-repeat;
                                }
                            }

                            input[type="checkbox"]:checked + label {
                                &:before {
                                    background: url("img/checkbox.png") left -23px no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}