#page{
    #home {
        width: 100%;

        .module {
            @include cf;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            .sectionBg {
                display: none;
            }

            &.videoBanner {
                //background-position: bottom;
                position: relative;
                text-align: center;
                overflow: hidden;
                #video_background {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    z-index: 1;
                    verflow: hidden;
                }
                .container {
                    position: relative;
                    z-index: 20;
                    .col {
                        text-align: center;
                    }
                }
                a.play {
                    margin-bottom: 30px;
                    display: block;
                }
            }

            &.grey-bg {
                background-color: $homepageGrey;
            }

            .container {
                padding: 0;
                &.center {
                    text-align: center;
                }

                &#marquee {

                    padding: 30px 0 0;
                    height: 465px;
                    .become-member-panel {
                        .bluePanel {
                            @include boxSizing;
                            text-align: center;
                            //text-align:left;
                            position: relative;
                            display: block;
                            z-index: 2;
                            //padding: 14px;
                            padding:4px 0 0;
                            max-width:500px;
                            width: 383px;
                            height: 52px;
                            //line-height:36px;
                            background-color: $dsBlue;
                            h1 {
                                font-size: 31px;
                                font-weight: 100;
                                color: #fff;
                            }
                        }

                        .whitePanel {
                            @include boxSizing;
                            position: relative;
                            display: block;
                            z-index: 1;
                            width: 411px;
                            margin: -22px 0 0;
                            padding: 36px 20px 20px;
                            @include bgAlpha(255, 255, 255, 0.85);
                            text-align: left;
                            .promo-copy {
                                display:block;
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 22px;
                                color: #545454;
                                padding: 0 0 20px;

                            }
                        }

                        float: left;
                        margin: 190px 0 0;
                    }

                    .login-panel {
                        float: right;

                        .whitePanel {
                            @include cf;
                            @include boxSizing;
                            position: relative;
                            display: block;
                            z-index: 1;

                            width: 240px;
                            padding: 33px 20px 0;
                            @include bgAlpha(255, 255, 255, 0.85);

                            .sign-in-title {
                                text-align: left;

                            }
                            .mainCopy {
                                font-size: 18px;
                                font-weight: 400;
                                color: $copyGrey;
                            }

                            .forgot-password,
                            .login-help {
                                float: left;
                                font-size: 13px;
                                font-weight: 400;
                                a {
                                    text-decoration: none;
                                    color: $copyGrey;
                                }
                                :hover{
                                    color:$rollOverColor;
                                }
                            }
                            .login-help {
                                float: right;
                            }

                            .need-access {
                                float: left;
                                display: inline-block;
                                padding: 20px 0 10px;
                                font-size: 18px;
                                font-weight: 400;
                                color: $copyGrey;
                            }

                            .signup-btn{
                                float:left;
                            }

                            .other-accounts {
                                float: left;
                                padding: 14px 0 28px;
                                ul {
                                    @include listReset;
                                    li {
                                        @include cf;
                                        a {
                                            text-decoration: none;
                                            color: $dsBlue;
                                            font-size: 14px;
                                            font-weight: 500;
                                            float: left;
                                            padding:6px 0 0;
                                        }
                                        :hover{
                                            color:$rollOverColor;
                                        }
                                    }
                                }
                            }

                            #search{
                                width:201px;
                                @include cf;
                                //border:1px solid red;
                                input[type=text]{
                                    @include boxSizing;
                                    border:0;
                                    float: left;
                                    width: 158px;
                                    height: 37px;
                                    border-top: 1px solid #ccc;
                                    border-left: 1px solid #ccc;
                                    border-bottom: 1px solid #ccc;
                                    font-size: 16px;
                                    color: #b6b7ba;
                                    text-indent: 12px;
                                    padding-right: 35px;
                                    margin: 0;
                                    background-color: #f4f4f4;
                                }

                                input[type=submit]{
                                    @include boxSizing;
                                    outline:none;
                                    background:url('img/icon-search-arrow.png') no-repeat 75% top;
                                    float: right;
                                    width: 35px;
                                    height: 37px;
                                    border-top: 1px solid #ccc;
                                    border-right: 1px solid #ccc;
                                    border-bottom: 1px solid #ccc;
                                    color: #b6b7ba;
                                    margin: 0;
                                    background-color: #f4f4f4;
                                }
                            }
                        }
                    }
                }

                &#stats-area {
                    @include boxSizing;
                    @include cf;
                    height: 115px;



                    ul.stats-tabs {
                        @include listReset;
                        padding: 20px 0 0;
                        float: left;
                        width: 66px;
                        list-style: none;
                        li {
                            text-align: right;
                            a {
                                text-decoration: none;
                                font-size: 18px;
                                font-weight: 500;
                                color: #a6a6a6;
                                &:hover {
                                    color: #00bce4;
                                }
                            }
                            &.active {
                                a {
                                    color: #00bce4;
                                }
                            }
                        }
                    }

                    .grey-line{
                        @include boxSizing;
                        float:left;
                        width:12px;
                        height:95px;
                        margin:10px 10px 10px 30px;
                        border-right:1px solid #c9c9c9;

                        img{
                            padding:13px 0 0;
                        }
                    }

                    .tabContent {
                        padding: 10px 0 0;
                        float: right;
                        width:838px;

                        &.contentOne {
                            float: right;
                            display: block;
                        }
                        &.contentTwo {
                            float: right;
                            display: block;
                        }

                        ul {
                            &.content-one,
                            &.content-two,
                            &.content-three {

                                @include listReset;

                                li {
                                    float: left;
                                    width: 360px;
                                    span {
                                        display: block;

                                        &.left-side {
                                            float: left;
                                        }

                                        &.middle {
                                            float: left;
                                            padding: 25px 25px 25px 35px;
                                            font-size: 30px;
                                            font-weight: 300;
                                            color: #939393;
                                        }
                                        &.right-side {
                                            float: left;
                                            margin: 0 0 0 20px;
                                        }
                                    }

                                    .mortgage-type {
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: #545454;
                                    }

                                    .as-low-as {
                                        position: absolute;
                                        top: 36px;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #a6a6a6;
                                    }

                                    .mortage-rate-num {
                                        position: absolute;
                                        top: 44px;
                                        font-size: 43px;
                                        font-weight: 500;
                                        color: #9fa617;
                                        letter-spacing: -3px;
                                    }

                                    .mortage-rate-percent {
                                        position: absolute;
                                        top: 52px;
                                        left: 224px;
                                        font-size: 22px;
                                        font-weight: 300;
                                        color: #9fa617;
                                    }

                                    .mortgage-apr {
                                        position: absolute;
                                        top: 75px;
                                        left: 224px;
                                        font-size: 13px;
                                        font-weight: 400;
                                        color: #545454;
                                    }

                                    .upto {
                                        position: relative;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #a6a6a6;
                                    }

                                    .dollar-sign {
                                        display: inline;
                                        font-size: 22px;
                                        font-weight: 300;
                                        vertical-align: super;
                                    }

                                    .dollar-amount {
                                        margin: -5px 0 0; //
                                        font-size: 43px;
                                        font-weight: 500;
                                        color: #9fa617;
                                    }

                                    .cash-back {
                                        margin: -5px 0 0; //
                                        font-size: 16px;
                                        font-weight: 500;
                                        color: #545454;
                                        margin: -8px 0 0; //
                                    }

                                    a {
                                        display: block;
                                        text-decoration: none;
                                        color: $dsBlue;
                                        font-size: 15px;
                                        font-weight: 700;
                                        margin: 38px 0;
                                        padding: 0;
                                        &:hover {
                                            color: $rollOverColor;
                                        }
                                    }

                                    &:first-child {
                                        width: 334px;
                                        margin: 0 25px 0 0; //
                                        border-right: 1px solid #c9c9c9;
                                    }
                                    &:last-child {
                                        width: 116px;
                                    }
                                }

                            }
                        }
                    }
                }

                &#location-holder{
                    @include boxSizing;

                    .location-top{
                        @include cf;
                        .title{
                            float:left;
                            font-size: 31px;
                            font-family: Roboto;
                            font-weight: 100;
                            color: $headingBlue;
                            padding:27px 0;
                        }
                    }

                    .locations-btn{
                        padding:8px 0 52px;
                        text-align: center;
                    }

                    .map-holder{
                        @include cf;
                        padding:0 0 40px;
                        .map-item{
                            float:left;
                            width:285px;
                            padding:0;
                            margin:0 52px 0 0;
                            @include boxSizing;

                            .title{
                                padding:20px 0 0;
                                min-height:58px;
                                font-family: Roboto;
                                font-weight:300;
                                font-size:16px;
                                line-height:18px;
                                color:$addressGrey;
                                .blue{
                                    font-size:18px;
                                    color:$subHeadingBlue;
                                }
                            }
                            .address{
                                line-height: 18px;
                                font-size:15px;
                                font-weight:300;
                                color:$copyGrey;
                                padding:0 0 15px;
                            }
                            .location-info{
                                float:left;
                                font-size:15px;
                                color:$copyGrey;
                                padding:0 19px 18px 0;
                                line-height: 17px;
                                .location-title{
                                    font-weight: 400;
                                    padding:0 0 3px;
                                }
                                .location-copy{
                                    font-weight: 100;
                                    .sat-time{
                                        display:block;
                                        padding:2px 0 0;
                                    }
                                }
                            }
                            .right{
                                float:left;
                            }

                        }
                        .right-item{
                            float:right;
                            padding:0;
                            margin:0;
                        }
                        .bottom-left,
                        .bottom-right{
                            float:left;
                            padding:0 26px 0 0;
                            a{
                                font-size:14px;
                                font-weight:500;
                                text-decoration: none;
                                color:$dsBlue;
                            }
                            :hover{
                                color:$rollOverColor;
                            }
                        }
                    }
                }

                &#member-benefits {
                    padding: 60px 0 0;
                    .benefits-title{
                        display:block;
                        font-size: 31px;
                        font-weight: 100;
                        color: #fff;
                    }

                    .benefits-copy{
                        display:block;
                        font-size: 18px;
                        font-weight: 300;
                        width: 672px;
                        padding:10px 0 0;
                        margin: 0 auto;
                        color: #fff;
                        line-height: 1.3;
                    }

                    .panel {
                        margin: 50px 0 60px;
                        display: block;
                        @include bgAlpha(255, 255, 255, 0.6);
                        @include cf;
                        @include boxSizing;
                        //border:1px solid red;
                        padding:50px 0 0 15px;
                        //padding-top: 50px;
                        width: 960px;
                        height: 400px;

                        .member-benefits-item {
                            @include boxSizing;
                            float: left;
                            width: 200px;
                            margin:0 30px 20px 0;
                            padding:0 0 0 18px;

                            .icon-item {
                                margin:0 0 20px;
                            }
                            .copyHolder{
                                padding:0;
                                margin:0;
                            }
                            h3 {
                                font-size: 21px;
                                font-weight: 100;
                                color: $copyGrey;
                                margin:0;
                                padding:0 0 24px;
                            }
                            .copy {
                                padding:0;
                                font-size: 15px;
                                font-weight: 300;
                                color: $copyGrey;
                                line-height: 1.3;
                                width:190px;
                            }

                            &.members {
                                h3 {
                                    line-height: 1.1;
                                    padding: 0 0 16px;
                                    margin:-10px 0 0;
                                }

                                .copy {
                                    width:172px;

                                }
                            }
                        }

                        .bottom-section {
                            margin:0;
                            padding:0;
                            display: inline-block;
                            width: 960px;
                        }
                    }
                }

                &#locationHolder {
                    padding: 60px 0;
                }
            }
        }
    }
}