/********* LOCATIONS MAP STYLES ********/
#locations{

    .module {
        @include cf;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        .sectionBg {
            display: none;
        }

        &.grey-bg {
            background-color: $homepageGrey;
        }

        .bottom-table-copy{
            font-size:18px;
            font-weight:300;
            color:$copyDarkGray;
            padding:25px 0 0;
            a{
                margin-left:20px;
            }
        }

        .container {
            padding: 0;
            &.center {
                text-align: center;
            }

            &#marquee {
                @include boxSizing;
                padding: 69px 0 0;
                height: 290px;

                .left-panel {
                    .bluePanel {
                        @include boxSizing;
                        text-align: center;
                        position: relative;
                        display: inline-block;
                        z-index: 2;
                        padding: 4px 20px 0;
                        height: 52px;
                        background-color: $dsBlue;
                        h1 {
                            font-size: 31px;
                            font-weight: 100;
                            color: #fff;
                        }
                    }

                    .whitePanel {
                        @include boxSizing;
                        position: relative;
                        display: block;
                        z-index: 1;
                        width: 412px;
                        margin: -22px 0 0;
                        padding: 36px 20px 20px;
                        @include bgAlpha(255, 255, 255, 0.85);
                        .promo-copy {
                            display: block;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 20px;
                            color: #545454;
                            padding: 0 0 20px;
                        }
                    }
                }
            }

            .blue-header{
                @include boxSizing;

                background-color: #3276bf;
                height:57px;
                padding:8px 9px 0 20px;
                margin:0;

                label{
                    color:#fff;
                    font-weight:300;
                    font-size:16px;
                    padding:0 15px 0 0;
                }

                p{
                    display:inline-block;
                    padding:4px 10px 0 0;
                    margin:0;
                    color:#fff;
                    font-size: 18px;
                    font-weight:300;
                }

                .location-field{
                    margin:0;
                    padding:0;
                    float:right;
                    input[type=text]{
                        background-color: #f4f4f4;
                        float: left;
                        width: 400px;
                        height: 40px;
                        text-indent: 10px;
                        font-size:14px;
                        margin:0;
                        font-weight:400;
                        outline:none;
                        border:0;
                        border-top:1px solid #ccc;
                        border-left:1px solid #ccc;
                        border-bottom:1px solid #ccc;
                        @include Roboto;
                    }

                    input[type=submit]{
                        background: url('img/icon-magnifying-glass.png') #f4f4f4 no-repeat 50%;
                        padding:0;
                        height: 40px;
                        border: 0;
                        margin:0;
                        text-indent:-999px;
                        border-top:1px solid #ccc;
                        border-right:1px solid #ccc;
                        border-bottom:1px solid #ccc;
                        font-weight: 700;
                        @include Roboto;
                    }
                }
            }

            .direction-info{
                @include boxSizing;
                @include cf;
                float:left;
                overflow:hidden;
                width:321px;
                height:690px;

                .locations-holder{
                    display:block;
                    height:690px;
                    z-index:90;
                    position:relative;

                    .listitems{
                        list-style: none;
                        margin:0;
                        padding:0;
                        li{
                            padding:0;
                            margin:0;
                        }
                    }

                    .simplePagerNav{
                        position:absolute;
                        bottom:0;
                        width:320px;
                    }

                    .simplePagerContainer ul.simplePagerNav{
                        padding:0 0 0 10px;
                        
                    }

                    .simplePagerNav li{
                        //border:1px solid red;
                        background:#fff;
                        display: inline-block;
                        list-style-type: none;
                        margin:0 5px 0 0;
                        padding:2px 0 0 0;
                        text-align: center;
                        width:30px;
                        height:30px;


                        &.currentPage{
                            background: #0078bd;
                            color:#fff;
                            a{
                                color:#fff;
                            }
                        }

                        a{
                            text-decoration: none;
                            color:#0078bd;
                        }
                    }
                }

                .detailed-view{
                    @include cf;
                    position:relative;
                    z-index:100;
                    display:block;
                    background:#fff;
                    height:689px;
                    width:321px;
                    margin:0 0 0 1px;

                    .close-btn{
                        float:right;
                        margin:4px 14px 0 0;

                        a{
                            text-decoration: none;
                            color:#45bce5;
                            font-size:12px;
                            font-weight: 400;
                        }
                    }
                }

                .location-item{
                    @include cf;
                    margin:0 0 0 19px;
                    padding:15px 0 13px 23px;
                    width:284px;
                    border-bottom:1px solid #ccc;

                    .title{
                        color:#45bce5;
                        font-size:18px;
                        font-weight:300;

                        .distance{
                            color:#a3a3a3;
                            font-size:16px;
                        }
                    }

                    .address{
                        font-size:15px;
                        color:#545454;
                        font-weight:300;
                    }

                    .left-side{
                        display:block;
                        width:135px;
                        height:auto;
                        min-height:80px;
                        float:left;
                        margin:10px 0 0;
                    }

                    .right-side{
                        display:block;
                        width:100px;
                        height:auto;
                        min-height:80px;
                        float:left;
                        margin:10px 0 0 25px;
                    }

                    .info-title{
                        font-size:15px;
                        font-weight:500;
                        color:#545454;
                    }

                    .info-content{
                        font-size:15px;
                        font-weight:300;
                        color:#545454;
                    }

                    .bottom-links{
                        display:inline-block;

                        .left-links{
                            display: inline-block;
                            margin:0;
                            a{
                                text-decoration: none;
                                color:#0078bd;
                                font-size:15px;
                                font-weight:700;
                            }
                        }

                        .right-links{
                            display: inline-block;
                            margin:0 0 0 25px;
                            padding:0 10px 0 0;
                            a{
                                text-decoration: none;
                                color:#0078bd;
                                font-size:15px;
                                font-weight:700;
                            }
                        }
                    }
                }

                .detailed-features{
                    font-size:15px;
                    font-weight:300;
                    color:#a3a3a3;
                    width:280px;

                    @include boxSizing;

                    margin:0 0 0 19px;
                    padding:15px 14px 23px 23px;
                    h2{
                        color:#545454;
                        font-size:18px;
                        font-weight:300;
                        padding:0 0 10px;
                    }

                    ul{
                        margin:0;
                        padding:0 0 15px 10px;//
                        li{
                            @include listReset;
                            background:url("/css/img/bullet-icon.png") no-repeat 5px 8px;
                            font-size:15px;
                            padding:0 0 6px 14px;//
                            color:#a3a3a3;
                            font-weight:300;
                        }
                    }

                    .bottom-text{
                        letter-spacing: 1px;
                        line-height: 1.2;
                    }
                }
            }

            .mapHolder{
                @include cf;
                @include boxSizing;
                border:1px solid #ccc;
                padding:0;
                margin:0 0 20px;

                #mapCanvas{
                    border-left:1px solid #b2b2b2;
                    float:right;
                    width:638px;
                    height:689px;
                    display:block;
                    background-color:#ccc;
                }
            }
        }
    }
}
/********* END LOCATIONS MAP STYLES ********/