#page {
    #product-mortgages,
    #article{
        width: 100%;

        .module {
            @include cf;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            .sectionBg {
                display: none;
            }

            &.grey-bg {
                background-color: $homepageGrey;
            }

            .bottom-table-copy{
                font-size:18px;
                font-weight:300;
                color:$copyDarkGray;
                padding:25px 0 0;
                a{
                    margin-left:20px;
                }
            }

            .container {
                padding: 0;
                &.center {
                    text-align: center;
                }

                &#marquee {
                    @include boxSizing;
                    padding: 69px 0 0;
                    height: 290px;

                    .left-panel {
                        .bluePanel {
                            @include boxSizing;
                            text-align: center;
                            position: relative;
                            display: inline-block;
                            z-index: 2;
                            padding: 4px 20px 0;
                            height: 52px;
                            background-color: $dsBlue;
                            h1 {
                                font-size: 31px;
                                font-weight: 100;
                                color: #fff;
                            }
                        }

                        .whitePanel {
                            @include boxSizing;
                            position: relative;
                            display: block;
                            z-index: 1;
                            width: 412px;
                            margin: -22px 0 0;
                            padding: 36px 20px 20px;
                            @include bgAlpha(255, 255, 255, 0.85);
                            .promo-copy {
                                display: block;
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 20px;
                                color: #545454;
                                padding: 0 0 20px;
                            }
                        }
                    }
                }
            }
        }

    }
}