/********* SITEMAP STYLES *********/
#sitemap-content{

    .module {
        @include cf;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        .left{
            width:33%;
            float:left;
        }

        .center{
            width:33%;
            float:left;
        }

        .right{
            width:33%;
            float:left;
        }
        .container{
            padding:10px;
            h2{
                color:$dsBlue;
                font-weight: 400;
                font-size:18px;
                padding:10px 0 4px;
            }

            ul{
                margin:0;
                padding:0 0 5px 10px;//
                li{
                    @include listReset;
                    font-size:15px;
                    padding:0 0 6px 14px;//

                    font-weight:300;
                    a{
                        color:#a3a3a3;
                        text-decoration: none;
                        &:hover{
                            color:$dsBlue;
                        }
                    }

                }
            }
        }


    }


}



/******* END SITEMAP STYLES *******/