/***
MEGA MENU CONTENT
***/

nav{
    margin:0;
    padding:0;
    //position: relative;
    background:#0078bd;
	//background: red;
    height: 37px;
	width: 100%;

    #bottom-nav {
        background-color: #0078bd;
        height: 37px;
	    width: 960px;
	    margin: 0 auto;
        //width:960px;

        ul.megamenu {
            background-color:#0078bd;
            margin: 0px;
            padding:3px 0 12px;
            list-style: none;
            display: none;


            li{
                margin: 0px;
                padding: 0px;
                @include boxSizing;
                display: inline-block;
                list-style-type: none;
                padding:0 0 8px;
                margin:3px 25px 0 0;
                font-weight:400;
                letter-spacing: .054em;
                .mm-item{
                }
                &.member-btn{
                    margin-right:0;
                    margin-left:29px;
                }
            }

            li.clear-fix{
                float: none;
                clear: both;
                margin: 0px;
                padding: 0px;
                height: 0px;
                font-size: 0px;
                line-height: 0px;
            }

            .hidden-item{
                @include boxSizing;
                display:none;

                .btn{
                    @include boxSizing;
                    display:inline-block;
                    background-color: #000;
                    width:165px;
                    height:27px;
                    color:#fff;
                    padding:4px 0 0;
                    text-align: center;
                    font-weight: 300;
                    font-size: 12px;
                }
                .orange{
                    background-color: #fe8d0b;

                }

                &.phone-icon{
                    margin-right:19px;
                }

                &.login{
                    margin-right:19px;
                    a{
                        color:#d2d2d2;
                    }
                }

                &.ds-logo{
                    margin-right:12px;
                }
            }

            a.mm-item-link:link,
            a.mm-item-link:visited{
                position: relative;
                display: inline-block;
                color: #FFF;
                text-decoration: none;
                z-index: 1000;
                font-size: 14px;
            }

            a.mm-item-link-hover:link,
            a.mm-item-link-hover:visited {
                color: $rollOverColor;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
            }

            div.mm-item-content {
                padding: 0;
                z-index: 900;
                position: absolute;


                .mm-content-base {
                    border-top: 1px solid #0078bd;
                    background: #FFF;
                    position: relative;
                    z-index: 1100;
                    padding:30px 14px;
                    margin: 8px 0 0;

                    ul.columns {
                        padding: 0;
                        margin: 0;
                        li {
                            @include boxSizing;
                            display: inline-block;
                            list-style-type: none;
                            padding: 0 5px 0 0;
                            margin: 0;
                            vertical-align: top;

                            .imgHolder {
                                padding: 0;
                                margin: 0 0 10px 0;
                            }
                            .title {
                                margin: 0 0 10px;
                                a {
                                    color: $subNavTitle;
                                    text-decoration: none;
                                }
                            }
                            hr {
                                height: 0;
                                margin: 0;
                                background: transparent;
                                border-bottom: 1px solid grey;
                            }
                            ul.subContent {
                                padding: 5px 0 0;
                                margin: 0;
                                li {
                                    width: 225px;
                                    display: block;
                                    padding: 5px 0 5px;
                                    font-size: 14px;
                                    a {
                                        color: #2a70bb;
                                        text-decoration: none;
                                    }
                                    :hover {
                                        color: $rollOverColor;
                                    }
                                }
                            }
                            &:last-child {
                                padding-right:0;
                            }
                        }
                    }

                }
            }
        }
    }
}

.locked {
	div.mm-item-content {
		top: 28px !important;
	}
}


