#customer-testimonials {

    .talkbubble-right {
        margin:74px 0 0 870px;
        @include boxSizing;
        @include bgAlpha(255, 255, 255, 0.8);
        width: 370px;
        height: auto;
        position: relative;
        padding:23px 35px;

        blockquote{
            margin:0;
            color:$copyGrey;
            font-size: 24px;
            font-weight: 100;
            font-style: italic;
            line-height:32px;
        }

        p{
            margin:0;
            padding:5px 0 0;
            font-size:15px;
            color:$dsBlue;
            font-weight: 400;
        }
    }
    .talkbubble-right:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 76px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 18px solid rgba(255, 255, 255, .8);
        border-bottom: 10px solid transparent;
    }

    .talkbubble-left {
        margin:244px 0 0 80px;
        @include boxSizing;
        @include bgAlpha(255, 255, 255, 0.8);
        width: 370px;
        height: auto;
        position: relative;
        padding:23px 35px;

        blockquote{
            margin:0;
            color:$copyGrey;
            font-size: 24px;
            font-weight: 100;
            font-style: italic;
            line-height:32px;
        }

        p{
            margin:0;
            padding:5px 0 0;
            font-size:15px;
            color:$dsBlue;
            font-weight: 400;
        }
    }
    .talkbubble-left:before {
        content:"";
        position: absolute;
        left: 100%;
        top: 76px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 18px solid rgba(255, 255, 255, .8);
        border-bottom: 10px solid transparent;
    }
}