header{
    background-color: #fff;
    overflow: hidden;
    height:96px;


    #top-nav{
        @include boxSizing;
        @include cf;
        background-color: #fff;
        height:96px;
        #nav-logo{
            padding-top:27px;
            float:left;
        }

        .top-nav-content {
            float:right;
            ul{
                margin:10px 0 0;
                li {
                    display: inline;
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        font-size:13px;
                        font-weight:300;
                        color:#999;
                        border-right:1px solid #999;
                        padding:0 7px 0 3px;
                        margin:0;
                    }
                    :hover{
                        color:$topNavHover;
                    }


                }
                :last-child{
                    a{
                        border-right:none;
                        padding:0 0 0 3px;
                    }
                }
            }
        }

        ul{
            float:left;
            margin:28px 0 0;
            li{
                display:inline;
                list-style-type: none;

                a{
                    text-decoration: none;
                    font-size:15px;
                    color:#999;
                    padding:0 10px 0 0;

                }
                &.active {

                    position: relative;
                    &:after {
                        //background: url("/css/img/selected-arrow.png") no-repeat center top;
                        position: absolute;
                        bottom: -15px;
                        left: 50%;
                        content: "";
                        z-index: 150;
                        margin-left: -25px;
                        // CSS Triangle
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 15px 8px 15px;
                        border-color: transparent transparent #0078bd transparent;
                    }
                    &:before {
                        display: none;
                    }
                    a{
                        color:$topNavHover;
                    }
                }

                :hover{
                    color:$topNavHover;
                }
            }

        }

        #search {
            float: right;
            height: 100px;
            padding:23px 0 0 0;

            input[type=text]{

                float: left;
                width: 200px;
                height: 32px;
                border: 1px solid #ccc;
                font-size: 14px;
                font-weight: 400;
                color: #000;
                text-indent: 12px;
                padding-right: 35px;
                margin: 0;
                background-color: #f4f4f4;
            }
            input[type=submit]{
                width: 30px;
                height: 30px;
                float: left;
                background: url('img/btn-search.png') no-repeat;
                text-indent: -9999px;
                border: 0;
                margin:3px 0 0 -34px;
                padding:0;
            }
        }

        .selected-arrow {
            padding-top:55px;
            margin-left:64px;
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 10px solid $dsBlue;
        }
    }
}

#alt-nav{
    #top-nav{

        .top-nav-content {
            ul{
                margin:34px 0 0;
                li{
                    a{
                        font-size:20px;
                        border:none;
                        padding:0 7px 0 36px
                    }
                }
            }
        }
    }
}


.full-bar{
    height:6px;
    background-color: $copyBlue;
}
