<header id="alt-nav">
	<div class="container" id="top-nav">
		<div id="nav-logo">
			<img src="/img/logos/ds-logo.png" alt=""/>
		</div>

		<div class="top-nav-content">
			<ul class="top-ul">
				<li><a href="">Locations</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Call Now: 602.456.9000</a></li>
			</ul>
		</div>

	</div>


</header>

<div class="full-bar">

</div>