<script type="text/html" id="branchTpl" >
     {{#locations}}
     <li>
          <div class="location-item">
               <div class="title"> {{ BranchName }} <span class="distance"></span></div>
               <div class="address">
                    {{ Address }}
               </div>
               <div class="address">
                    {{ City }},  {{State}} {{ ZipCode}}
               </div>
               <div class="left-side">
                    <div class="info-title">
                         Hours:
                    </div>
                    <div class="info-content">
                         {{HoursMF}}
                    </div>
                    <div class="info-content">
                         {{HoursSat}}
                    </div>
               </div>
               <div class="right-side"></div>
               <div class="bottom-links">
                    <div class="left-links">
                         <a href="#" data-id="{{index}}">VIEW DETAILS</a>
                    </div>
                    <div class="right-links">
                         {{#userLoc}}
                         <a href="http://maps.google.com/maps?saddr={{userLoc}}&daddr={{Latitude}},{{Longitude}}" target="_blank">GET DIRECTIONS</a>
                         {{/userLoc}}
                         
                         {{^userLoc}}
                         <a href="http://maps.google.com/maps?saddr=&daddr={{Latitude}},{{Longitude}}" target="_blank">GET DIRECTIONS</a>
                         {{/userLoc}}
                    </div>
               </div>
          </div>
     </li>
     {{/locations}}
</script>