<script type="text/html" id="detailTpl" >
	<div class="close-btn"><a href="#">X</a></div>
    <div class="detailed-info">

        <div class="location-item">
            <div class="title">{{BranchName}}<span class="distance"></span></div>
            <div class="address">{{Address}}</div>
            <div class="address">{{ City }},  {{State}} {{ ZipCode}}</div>

            <div class="left-side">
                <div class="info-title">Phone:</div>
                <div class="info-content">(602) 433-7000</div>
            </div>

            <div class="right-side">
                <div class="info-title">Hours:</div>
                <div class="info-content">{{HoursMF}}</div>
                <div class="info-content">{{HoursSat}}</div>
            </div>

            <div class="bottom-links">
                <div class="left-links"><a href="http://maps.google.com/maps?saddr={{userLoc}}&daddr={{Latitude}},{{Longitude}}" target="_blank">GET DIRECTIONS</a></div>
            </div>
        </div>
    </div>

    <div class="detailed-features">
        <h2>Branch Features</h2>
        <ul>
            {{#BranchServicesModel.FullService}}
            <li>Full Service</li>
            {{/BranchServicesModel.FullService}}

            {{#BranchServicesModel.SafeDepositBox}}
            <li>Safe Deposit Box</li>
            {{/BranchServicesModel.SafeDepositBox}}

            {{#BranchServicesModel.SharedBranch}}
            <li>Shared Branching</li>
            {{/BranchServicesModel.SharedBranch}}

            {{#BranchServicesModel.BankDriveThru}}
            <li>Drive Thru</li>
            {{/BranchServicesModel.BankDriveThru}}
        </ul>
        <h2>ATM Features</h2>
        <ul>
            {{#BranchServicesModel.ATMDriveThru}}
            <li>Drive-Thru ATM</li>
            {{/BranchServicesModel.ATMDriveThru}}

            {{#BranchServicesModel.ATMNumberWalkup}}
            <li>Walk-Up ATM</li>
            {{/BranchServicesModel.ATMNumberWalkup}}
        </ul>
        <div class="bottom-text">
            {{Description}}
        </div>
    </div>
</script>