<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/slick/slick.css">

<script src="/js/vendor/modernizr-2.6.2.min.js"></script>

<!-- JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

<!-- Easing Animations -->
<script src="/js/vendor/jquery.easing.min.js"></script>

<!-- Visible Animation -->
<script src="/js/vendor/jquery.visible.min.js"></script>

<!-- Carousel -->
<script src="/slick/slick.min.js"></script>
<script src="/js/carousel.js"></script>

<script src="/js/plugins.js"></script>

<!-- Sticky Nav -->
<script src="/js/vendor/jquery.sticky.js"></script>

<!-- Mega Menu -->
<script src="/js/vendor/jquery.megamenu.js"></script>

<script src="/js/main.js"></script>
