<ul class="megamenu">
	<li>
		<a href="#">Checking &amp; Savings</a>
		<div>Contents of the first mega menu</div>
	</li>
	<li>
		<a href="#">Loans</a>
		<div>Contents of the second mega menu</div>
	</li>
	<li>
		<a href="#">Credit Cards</a>
		<div>Contents of the second mega menu</div>
	</li>
	<li>
		<a href="#">Financial Planning</a>
		<div>
			<ul class="columns">
				<li>
					<div class="imgHolder">
						<img src="img/image-1.png" alt=""/>
					</div>
					<div class="title"><a href="">INVESTMENTS</a></div>
					<div class="headerLine"></div>
					<ul class="subContent">
						<li><a href="#">Jumbo Cerificate</a></li>
						<li><a href="#">Roth IRA</a></li>
						<li><a href="#">Traditional IRA</a></li>
					</ul>
				</li>
				<li>
					<div class="imgHolder">
						<img src="img/image-1.png" alt=""/>
					</div>
					<div class="title"><a href="">College Savings</a></div>
					<div class="headerLine"></div>
					<ul class="subContent">
						<li><a href="#">Jumbo Cerificate</a></li>
						<li><a href="#">Roth IRA</a></li>
						<li><a href="#">Traditional IRA</a></li>
					</ul>
				</li>
				<li>
					<div class="imgHolder">
						<img src="img/image-1.png" alt=""/>
					</div>
					<div class="title"><a href="">Wills & Trusts</a></div>
					<div class="headerLine"></div>
					<ul class="subContent">
						<li><a href="#">Jumbo Cerificate</a></li>
						<li><a href="#">Roth IRA</a></li>
						<li><a href="#">Traditional IRA</a></li>
					</ul>
				</li>
				<li>
					<div class="imgHolder">
						<img src="img/image-1.png" alt=""/>
					</div>
					<div class="title"><a href="">Investment &amp; Planning</a></div>
					<div class="headerLine"></div>
					<ul class="subContent">
						<li><a href="#">Jumbo Cerificate</a></li>
						<li><a href="#">Roth IRA</a></li>
						<li><a href="#">Traditional IRA</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="javascript: void(0)">Insurance</a>
		<div style="width: 350px;">Contents of the second mega menu</div>
	</li>
</ul>