<nav id="sticky-nav">
	<div id="bottom-nav">
		<ul class="megamenu">
			<li class="hidden-item ds-logo"><a href="#"><img src="/img/logos/ds-logo-stickynav.png" alt=""/></a></li>
			<li>
				<a href="#">Checking &amp; Savings</a>
				<div>
					<ul class="columns">
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-1.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-2.png" alt=""/>
							</div>
							<div class="title"><a href="">COLLEGE SAVINGS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-3.png" alt=""/>
							</div>
							<div class="title"><a href="">WILLS &amp; TRUSTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-4.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENT &amp; PLANNING</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Loans</a>
				<div>
					<ul class="columns">
						<li>
							<!--<div class="imgHolder">-->
								<!--<img src="/img/thumbnails/mega-menu-4.png" alt=""/>-->
							<!--</div>-->
							<div class="title"><a href="">Auto Loans</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Auto Refinancing</a></li>
								<li><a href="#">Auto Purchase Loan</a></li>
								<li><a href="#">Car Buying Service</a></li>
								<li><a href="#">Auto Refinancing</a></li>
								<li><a href="#">Auto Purchase Loan</a></li>
								<li><a href="#">CARFAX Vehicle Record Check</a></li>
								<li><a href="#">Auto Refinancing</a></li>
								<li><a href="#">Auto Purchase Loan</a></li>
								<li><a href="#">Guaranteed Asset Protection (GAP)</a></li>
							</ul>
						</li>
						<li>
							<!--<div class="imgHolder">-->
								<!--<img src="/img/thumbnails/mega-menu-2.png" alt=""/>-->
							<!--</div>-->
							<div class="title"><a href="">Home Loans</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Credit Union Mortgages Made Easy</a></li>
								<li><a href="#">Mortgage Refinance</a></li>
								<li><a href="#">Home Equity Line of Credit</a></li>
								<li><a href="#">Credit Union Mortgages Made Easy</a></li>
								<li><a href="#">Mortgage Refinance</a></li>
								<li><a href="#">Adjustable Rate Mortgag (ARM) Loan</a></li>
								<li><a href="#">Residential Land Loan</a></li>
								<li><a href="#">Mortgage Payment Assistant</a></li>
								<li><a href="#">Home Loan Calculators</a></li>
							</ul>
						</li>
						<li>
							<!--<div class="imgHolder">-->
								<!--<img src="/img/thumbnails/mega-menu-2.png" alt=""/>-->
							<!--</div>-->
							<div class="title"><a href="">Personal Loans</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Student Loans</a></li>
								<li><a href="#">Variable Rate Line of Credit</a></li>
								<li><a href="#">Secured Loans</a></li>
								<li><a href="#">Signature Loans</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Credit Cards</a>
				<div>
					<ul class="columns">
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-1.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-4.png" alt=""/>
							</div>
							<div class="title"><a href="">COLLEGE SAVINGS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-3.png" alt=""/>
							</div>
							<div class="title"><a href="">WILLS &amp; TRUSTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-2.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENT &amp; PLANNING</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Financial Planning</a>
				<div>
					<ul class="columns">
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-4.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-3.png" alt=""/>
							</div>
							<div class="title"><a href="">COLLEGE SAVINGS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-1.png" alt=""/>
							</div>
							<div class="title"><a href="">WILLS &amp; TRUSTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Insurance</a>
				<div>
					<ul class="columns">
						<li>
							<div class="imgHolder">
								<img src="/img/thumbnails/mega-menu-4.png" alt=""/>
							</div>
							<div class="title"><a href="">INVESTMENTS</a></div>
							<hr/>
							<ul class="subContent">
								<li><a href="#">Jumbo Cerificate</a></li>
								<li><a href="#">Roth IRA</a></li>
								<li><a href="#">Traditional IRA</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li class="hidden-item phone-icon"><a href="#"><img src="/img/icons/icon-phone-sticky-nav.png" alt=""/></a></li>
			<li class="hidden-item login"><a href="#">LOGIN</a></li>
			<li class="hidden-item member-btn"><a href="#"><span class="btn orange">BECOME A MEMBER</span></a></li>
		</ul>
	</div>
</nav>