<div id="toolbar">
	<div class="container">
		<div class="col nine offsetThree">
			<ul>
				<li>
					<a href="" class="global">Global</a>
				</li>
				<li>
					<a href="">Locations</a>
				</li>
				<li>
					<a href="">Contact</a>
				</li>
				<li>
					<a href="">Service: 800.456.9171</a>
				</li>
				<li>
					<a href="">Sales: 800.456.9000</a>
				</li>
			</ul>
		</div>
	</div>
</div>