<header>
	<div class="container" id="top-nav">
		<div id="nav-logo">
			<img src="/img/logos/ds-logo.png" alt="Desert Schools Federal Credit Union"/>
		</div>

		<div class="top-nav-content">
			<ul class="top-ul">
				<li><a href="">Locations</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Service: 602.456.9171</a></li>
				<li><a href="">Sales: 602.456.9000</a></li>
			</ul>
		</div>
		<div id="section-nav" class="col nine">
			<div id="search">
				<input type="text" placeholder="Search">
				<input type="submit">
			</div>
			<section>
				<ul>
					<!--<li class="active">-->
						<!--<a href="#" data-iconposition="62px">PERSONAL</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#" data-iconposition="150px">BUSINESS</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#" data-iconposition="250px">MEMBERSHIP</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#" data-iconposition="370px">LEARNING CENTER</a>-->
					<!--</li>-->
					<li class="active">
						<a href="#">PERSONAL</a>
					</li>
					<li>
						<a href="#">BUSINESS</a>
					</li>
					<li>
						<a href="#">MEMBERSHIP</a>
					</li>
					<li>
						<a href="#">LEARNING CENTER</a>
					</li>
				</ul>
				<!--<div class="selected-arrow"></div>-->
			</section>

		</div>

	</div>
</header>