.article{

    padding:0 4rem 6rem;

    h2{
        text-align: center;
        font-weight: 300;
        font-size:4.5rem;
        line-height: 1.2;
        color:$baseBlueDS;
        padding:3.7rem 0 3.7rem;
    }

    p{
        color: $mediumGray;
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: .15rem;
        padding:6rem 0 0;

        &.secondary{
            font-size:3.2rem;
            line-height: 1.2;
            padding:0 0 6rem;
        }
    }


}

.coverage-table{
    padding:0 0 8rem;

    .green-header{
        background-color: $baseGreen;
        color: #fff;
        font-size: 3.5rem;
        font-weight: 400;
        padding:5rem 0;
        text-align: center;
        letter-spacing: .15rem;
    }

    .info-row{

        @include cf;
        background-color:#fdfdfe;
        border-bottom:2px solid #dcdcde;
        .coverage-title{
            @include boxSizing;
            padding:0 0 0 4rem;
            height:9rem;
            line-height: 8rem;
            float:left;
            width:66%;
            span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                color: #545454;
                font-size: 3rem;
                font-weight: 400;
            }
        }

        .icon-check{
            height:9rem;
            background-color: #f3f3f4;
            float:left;
            width:34%;
            text-align: center;
            padding:3rem 0 0;
        }
    }
}

.list-layout{
    padding:0 4rem 0;
    h3{
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding:0 0 4.2rem;
    }

    ul{
        @include listReset;
        padding:0 0 4rem;
        li{
            background:url('img/bullet.png') no-repeat 0 7%;
            color: $mediumGray;
            font-size: 3rem;
            font-weight: 300;
            padding:0 2rem 3.7rem 2.3rem;
            line-height: 1.4;
        }
    }
}

.tabs-layout{
    padding:0 4rem 7rem;
    h3{
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding:0 0 4.2rem;
    }

    ul{
        @include listReset;
        padding:0 0 2rem;

        li{
            display:inline-block;
            padding:0 5.5rem 0 0;

            a{
                text-decoration: none;
                color: $lighterGray;
                font-size:3.5rem;
                font-weight:300;
            }
            &.active{
                a {
                    color:$selectedState;
                }
            }
//
            &:last-child{
                padding:0;
            }
        }
    }

    .article-content{
        padding:3rem 0 0;
        color: $mediumGray;
        font-size: 3rem;
        font-weight: 300;
    }

    .nav-caret{
        display:block;
        margin:2px 0 -2px 6rem;
        img{
            vertical-align: bottom;
        }
    }

    .nav-line{
        display:block;
        border-bottom:2px solid $line-color;
    }
}

#related-module{
    padding:6.7rem 4rem 3rem;
    background-color:#eff0f1;

    h2{
        text-align: center;
        font-weight: 300;
        font-size:4.5rem;
        line-height: 1.2;
        color:$baseBlueDS;
        padding:0 0 3rem;
    }

    ul{
        li{
            a{
                display:block;
                text-decoration: none;
                text-align: center;
                font-weight: 500;
                font-size:3rem;
                color:$baseBlueDS;
                padding:0 0 5rem;
            }
        }
    }
}