#member-benefits{
//    background:url('/mobile/img/why-desert-module.png') no-repeat;
    text-align: center;
    padding:0 0 10rem;

    img.benefitsBg {
        display: none;
    }

    h2{
        font-size:4.5rem;
        font-weight:300;
        color:#fff;
        padding:9.5rem 0 3.4rem;
    }
    p{
        font-size:3rem;
        font-weight:300;
        color:#fff;
        padding:0 4.3rem;
        line-height:1.3;
    }

    .white-panel{
        @include bgAlpha(255, 255, 255, .6);
        display:block;
        width:48rem;
        height:65.8rem;
        margin:6rem 0 7.5rem 8rem;

        .item{
            padding:4.8rem 0 0;
            img{
                margin:0 auto;
                padding:0 0 3.4rem;
            }
            h3{
                font-size:3.5rem;
                font-weight: 300;
                color:$mediumGray;
                padding:0 0 3.8rem;
            }
            p{
                font-size:3rem;
                font-weight: 300;
                color:$mediumGray;
            }
        }
    }
}