ul.category-items{
    li{
        padding:0;
        .caret {
            position:relative;
            display:block;
            margin:-2.8rem 0 0 4.6rem;
            width: 0;
            height: 0;
            border-left: 3rem solid transparent;
            border-right: 3rem solid transparent;
            border-bottom: 2.7rem solid #fff;
            z-index:3;
        }

        .info{
            padding:3.5rem 0 1.5rem 4rem;

            .category{
                font-weight:400;
                font-size:3rem;
                color:$hightlight-green;
                padding:0 0 1rem;
            }

            h3, .copy{
                font-weight: 300;
                font-size:3.5rem;
                color:$mediumGray;
                padding:0 0 1.2rem;
            }

            .copy{
                padding:0;
                font-size:3rem;
                line-height: 1.2;
            }

            a{
                display:block;
                text-decoration: none;
                font-weight:700;
                font-size:3rem;
                color:$baseBlueDS;
                padding:1.6rem 0 9rem;
            }
        }


    }
}