#checking-membership {
    padding:5.6rem 4rem 10rem;

    h2 {
        color: $baseBlueDS;
        font-size: 4.5rem;
        font-weight: 300;
        padding:0 0 7.2rem;
    }

    h3{
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding:0 0 4.2rem;
    }

    p{
        color: $mediumGray;
        font-size: 3rem;
        font-weight: 300;
        padding:0 0 5.5rem;
        line-height:1.2;
    }

    ul{
        @include listReset;
        padding:0 0 4rem;
        li{
            background:url('img/bullet.png') no-repeat 0 20%;
            color: $mediumGray;
            font-size: 3rem;
            font-weight: 300;
            padding:0 2rem 3.7rem 2.3rem;
        }
    }

    .apply-now{
        a{
            margin:0 0 6rem 13rem;
        }
    }

    .learn-membership{
        text-align: center;
        a{
            text-decoration: none;
            color: $baseBlueDS;
            font-size: 3rem;
            font-weight: 700;
        }
    }
}