#checking-accounts-module{
    text-align:left;

    .checking-top{
        padding:5.5rem 4rem 0;
        h2 {
            font-weight: 300;
            font-size: 4.5rem;
            color: $baseBlueDS;
            padding: 0 0 5.5rem;
        }

        p{
            display:block;
            font-size:3.3rem;
            font-weight: 300;
            color:$mediumGray;
            line-height: 1.2;
            padding:0 0 6.3rem;
        }
    }


    ul.checking-accounts{
        li{
            background:url('img/navigation-arrow.png') no-repeat 90% 50% $baseBlueDS;
            padding:4.5rem 0 4.5rem 4rem;
            border-bottom:1px solid #fff;
            a{
                display: block;
                text-decoration: none;

                .checking-title{
                    font-size:3.5rem;
                    font-weight: 700;
                    color:#fff;
                    padding:0 0 3rem;
                }

                .checking-info{
                    font-size:3rem;
                    font-weight: 300;
                    color:#fff;
                    width:52rem;
                }
            }
        }
    }

}