.conversion{

    padding:4rem 0 4.6rem;

    .main-conversion{
        padding:0 4rem 5.3rem;
        h2{
            font-weight: 300;
            font-size:3.5rem;
            color:$baseBlueDS;
            padding:0 0 4rem;
        }

        p{
            color: $mediumGray;
            font-size: 3rem;
            font-weight: 300;
            //letter-spacing: .15rem;
            &.call{
                color: $baseBlueDS;
                font-size: 3.5rem;
                font-weight: 400;
                padding:4rem 0 0;
            }
        }


    }

}
