#contact-module{
    @include cf;
    padding:5rem 4rem 0;
    text-align: center;
    h2{
        font-weight: 300;
        font-size:4.5rem;
        color:$baseBlueDS;
        padding:0 0 3rem;
    }

    .contact-dept{
        text-align: left;
        float:left;
        width:50%;
        p{
            display:block;
            color:$mediumGray;
            font-weight:300;
            font-size:3.5rem;
            margin:0 0 3.8rem;//
        }
    }

    .contact-numbers{
        float:right;
        p{
            background:url('img/phone-icon.png') no-repeat 0 .8rem;
            height:5.1rem;
            padding:1.6rem 0 3em 3.2rem;
            margin:0 0 3.8rem 0;
            a{
                color:$baseBlueDS;
                font-size:3rem;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}