.conversion-chart {
    padding:0 4rem 4.6rem;
    width:100%;
    h3{
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding:0 0 4.2rem;
    }

    ul{
        @include listReset;
        padding:0 0 4rem 0;
        li{
            background:url('img/bullet.png') no-repeat 2rem 10%;
            color: $mediumGray;
            font-size: 3rem;
            font-weight: 300;
            padding:0 2rem 3.7rem 4rem;
            line-height: 1.4;
        }
    }

    a{
        &.see-more{
            display:block;
            text-decoration: none;
            text-align: center;
            color: $baseBlueDS;
            font-size: 3rem;
            font-weight: 700;
            padding:0 0 4rem;
        }


    }

}