.conversion-signup{
    padding:4.5rem 0 0;
    background-color: #eff0f1;

    h3{
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding:0 4rem 5rem;
    }


    .apply-module{
        padding:3.8rem 0 0;
        background-color: #fff;

        a{
            &.disclaimer{
                display:block;
                text-decoration: none;
                text-align: center;
                color: $baseBlueDS;
                font-size: 3rem;
                font-weight: 700;
                padding:2rem 0 4rem;
            }


        }
    }

}