#testimonial-module {
    padding: 0 4rem 4rem;

    @include cf;

    h2 {
        color: $mediumGray;
        font-size: 3.5rem;
        font-weight: 300;
        padding: 2rem 0 0;
    }

    .testimonial-container {
        margin: 4rem 0 0 0;
        //overflow: auto
    }
    .testimonial-thumb {
        float: left;
        //padding:0 2rem 0 0;//
    }
    .testimonial-thumb img {
        display: block;
    }
    .testimonial-content {
        margin: 0 0 0 18rem;
        p {
            color: $mediumGray;
            font-size: 2.6rem;
            font-weight: 300;
            &.author {
                padding: 1.3rem 0 0;
                font-style: italic;
                font-weight: 400;
            }
        }
    }
}