#testimonial-location-module{
    @include boxSizing;
    padding:2rem 4rem 8.4rem;

    p{
        &.call{
            text-align: center;
            color: $baseBlueDS;
            font-size: 3.8rem;
            font-weight: 400;
            padding:6rem 0 0;
            margin:0 auto;
        }
    }
}