label{
    color: $mediumGray !important;
    font-size: 3rem !important;
    font-weight: 300 !important;
}

.styled-select {
    width:59rem;
    height:7.3rem;
    border:none;
    margin:0 2.2rem 1.6rem 2.2rem;
    overflow: hidden;
    background: url("img/mobile-dropdown-icon.png") no-repeat 96% 45% #fff;//
    select {
        background: transparent;
        width: 59rem;
        padding:0 0 0 1.7rem;
        color: $baseBlueDS;
        font-size: 3rem;
        font-weight: 300;
        line-height: 3rem;
        border: 0;
        border-radius: 0;
        height: 7.3rem;
        -webkit-appearance: none;
    }
}

input{

    &.conversion-input{
        color: $mediumGray;
        font-size: 3rem;
        font-weight: 300;
        width:59rem;
        height:7.3rem;
        border:none;
        margin:0 2.2rem 1.6rem 2.2rem;
        display:block;
        line-height: 3rem;
        padding:0 0 0 1.7rem;
        -webkit-appearance: none;
        border-radius: 0;
    }


    &[type=checkbox]{
        vertical-align:-4.4rem;
        width:7.2rem;
        height:7.2rem;
        margin:0 2rem 2rem 2.2rem;
        background-color:#fff;
        -webkit-appearance: none;
        border:none;
        border-radius: 0;
    }

    &.location-input{
        background: url("img/location-icon.png") no-repeat 1rem 8px #fff;
        border:1.2rem solid $baseBlueDS;
        font-size: 3.5rem;
        font-weight: 300;
        font-style: italic;
        width:57rem;
        height:9rem;
        padding:.7rem 0 0 6rem;
        display:block;
        line-height: 3rem;
        -webkit-appearance: none;
        border-radius: 0;
    }


}



::-webkit-input-placeholder {
    color: $mediumGray;
    font-size: 3rem;
    font-weight: 300;

    padding:0;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    color: $mediumGray;
    font-size: 3rem;
    font-weight: 300;
}