#got-questions{
    background-color: $grayBackground;
    padding:4.6rem 8.5rem 5rem;
    .questions-title{
        font-size:4.5rem;
        font-weight:300;
        color:$baseBlueDS;
        padding:0 0 5.6rem;
        text-align: center;
    }

    ul{
        li{
            width:380px;
            margin:0 0 4rem 3.4rem;
            vertical-align: middle;
            //padding:0 0 0 8rem;
            height:63px;
            a{

                text-decoration: none;
                color:$lightBlueDS;
                font-weight:700;
                font-size:3rem;
                line-height:1.1;
                img{
                    float:left;
                    padding:0;
                    margin:0 2rem 0 0;
                }
            }
        }
//        .contact-member{
//            background-position:0 -63px;
//        }
//        .find-branch{
//            background-position:0 -126px;
//            padding:.8em 0 0 8rem;
//        }
    }

}