/**** BEGIN LOCATION MODULE ****/
#location-module{
    @include boxSizing;
    padding:2.7rem 0 4rem;
    h3{
        font-weight: 300;
        font-size:3.5rem;
        color:#fff;
        padding:0 0 2.2rem 4rem;
    }

    .input-holder{
        padding:0 1.6rem;
        @include cf;
        input[type=text]{
            -webkit-appearance: none;
            border-radius: 0;
            outline:none;
            border:0;
            float: left;
            width:51rem;
            height:6.8rem;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #fff;
            font-size:3.6rem;
            color:$lightGray;
            line-height: 6.4rem;
            padding:0 0 0 2.3rem;
        }
        input[type=submit]{
            @include boxSizing;
            background:url('img/btn-search.png') no-repeat 70% 48%;
            -webkit-appearance: none;
            border-radius: 0;
            outline:none;
            border:0;
            float: left;
            width:8.1rem;
            height:6.8rem;
            border-left: 1px solid #fff;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            margin:0 1.7rem 0 0;
        }
    }


    &.blue-bg{
        background-color:$baseBlueDS;
    }
}
/**** END LOCATION MODULE ****/