#more-module{
    ul.more-links{
        li{
            background:url('img/navigation-arrow.png') no-repeat 90% 4.4rem $baseBlueDS;
            //background-color: $baseBlueDS;
            padding:4.7rem 0 4.7rem 4rem;
            border-bottom:1px solid #fff;
            a{
                display: block;
                text-decoration: none;
                font-size:3.5rem;
                font-weight: 400;
                color:#fff;
            }
        }
    }

}