#mortgage-rates{


    p{
        font-size:3.3rem;
        font-weight:300;
        color:$mediumGray;
        padding:5.5rem 4rem;
        line-height: 1.2;
    }

    h2{
        font-size:4.53rem;
        font-weight:300;
        color:$baseBlueDS;
        text-align: center;
        padding:0 0 4rem;
    }

    a{
        text-decoration: none;
        .green-header{
            @include boxSizing;
            display:block;
            width:100%;
            height:8rem;
            background:url('img/navigation-arrow.png') no-repeat 94% 2rem $baseGreen;
            padding:2.4rem 4rem;
            color:#fff;
            font-size:3rem;
            font-weight:500;
        }
    }


    .info-row{
        width:100%;
        @include cf;
        height:12.8rem;
        background-color:#fff;

        .rate,
        .apr,
        .points{
            @include boxSizing;
            text-align: center;
            width:221px;
            height:7.8rem;
            float:left;
            background-color: $row-color-1;
            font-size:2.5rem;
            font-weight:400;
            color:$ratesGray;
            padding:2.8rem 0 0;
            margin:0 .4rem 0 0;
        }

        .apr{
            width:192px;
            background-color: $row-color-2;
        }

        .points{
            width:219px;
            margin:0;
        }


    }

    .bottom-rates{
        padding:0 0 5rem;

        h3{
            font-size:3rem;
            font-weight:700;
            color:$baseBlueDS;
            text-align: center;
        }

        .more-rates-copy{
            text-align: center;
            font-size:3rem;
            font-weight:300;
            color:$mediumGray;
            padding:4rem 4rem 5rem;
            line-height: 1.2;
        }

        a{
            margin:0 0 0 18rem;
        }


    }




}