#rates-module{
    padding:5rem 4rem 6rem;
    div.stats-area{
        padding:0 0 4rem;
        ul{
            @include listReset;
            padding:0 0 2rem 4rem;
            li{
                display:inline-block;
                padding:0 7rem 0 0;

                a{
                    text-decoration: none;
                    color: $lighterGray;
                    font-size:4rem;
                    font-weight:700;

                }
                &.active{
                    a {
                        color:$selectedState;
                    }
                }

                &:last-child{
                    padding:0;
                }
            }
        }

        .nav-caret{
            display:block;
            margin:2px 0 -2px 8rem;
            img{
                vertical-align: bottom;
            }
        }

        .nav-line{
            display:block;
            border-bottom:2px solid $line-color;
        }

        .stats-content{
            @include cf;
            padding:4rem 0 2rem;

            .left-content{
                float:left;

                .stats-title{
                    font-size:3.6rem;
                    font-weight:500;
                    color:$mediumGray;
                }

                p{
                    padding:.5em 0 0;//
                    font-size:2.8rem;
                    font-weight:400;
                    color:$lighterGray;
                }

                .rate{
                    font-size:8.5rem;
                    font-weight:400;
                    color:$baseGreen;
                }
            }

            .center-content{
                float:left;
                font-size:8rem;
                font-weight:300;
                color:$line-color;
                padding:3rem 0 0 2.5rem;
            }

            .right-content{
                float:right;

                .up-to{
                    display: block;
                    font-size:2.8rem;
                    font-weight:400;
                    color:$lighterGray;
                    padding:.9rem 0 .5rem;
                }

                .cash{
                    display: block;
                    font-size:8.2rem;
                    font-weight:400;
                    color:$baseGreen;
                    padding:.0 0 .2rem;
                }

                .cash-back{
                    display: block;
                    font-size:3.2rem;
                    font-weight:500;
                    color:$mediumGray;
                }
            }
        }
    }

    div.rates-area{
        h4{
            text-align:center;
            font-size:3rem;
            font-weight:700;
            color:$baseBlueDS;
            padding:0 0 6rem;
        }

        img{
            padding:0 0 2.2rem;
        }

        .title{
            font-size:3.5rem;
            font-weight: 300;
            color:$mediumGray;
            line-height:1.1;
            padding:0 0 1.4rem;
        }

        a{
            text-decoration: none;
            color:$baseBlueDS;
            font-size:3rem;
            font-weight:700;
        }

        .expires{
            padding:2rem 0 0;
            color:$lighterGray;
            font-size:2.4rem;
            font-weight:400;
        }
    }

}