.ratesAccordion,
.categoriesAccordion{
    @include cf;
    padding:0 0 4rem;


    .rates-title{
        font-size:4.6rem;
        font-weight:400;
        color:$mediumGray;
    }

    .copy{
        font-size:3.5rem;
        font-weight:400;
        color:$veryLightGray;
    }

    .accordionContent{
        @include cf;
        li{
            border:none;
            padding:4.4rem 4rem 2.8rem;
            height:auto;
            @include cf;
            .rate-title{
                float:left;
                font-size:4.6rem;
                font-weight:500;
                color:$mediumGray;
                margin:0 0 2rem;
            }

            .rate-low{
                float:left;
                font-size:3.5rem;
                font-weight:400;
                color:$veryLightGray;
            }

            .rate-value{
                font-size:8.6rem;
                font-weight:500;
                letter-spacing: -.2rem;
                color:$baseGreen;
                margin:0 0 0 2rem;//

            }

            .stats{
                float:left;
                .percent{
                    display: inline-block;
                    font-size:4.3rem;
                    font-weight:300;
                    color:$baseGreen;
                    margin:6px 0 0;
                }
                .asterisk{
                    display: inline-block;
                    font-size:3.7rem;
                    font-weight: 400;
                    color:$veryLightGray;
                    vertical-align: top;
                    margin:8px 0 0 -4px;
                }
                .apr{
                    font-size:3rem;
                    font-weight:400;
                    color:$mediumGray;
                    margin:3px 0 0 2px;
                }
            }

        }


    }

    .category{
        li{
            padding:0;
            img{
                width:640px;
            }
        }
    }


}

.categoriesAccordion{
    padding:0 0 4rem;
}