#recommended{
    @include cf;
    padding:4rem 0 0;

    h2{
        text-align: center;
        font-weight: 300;
        font-size:4.5rem;
        color:$baseBlueDS;
        padding:0 4rem 7.1rem;
    }

    ul{
        li{
            .caret {
                position:relative;
                display:block;
                margin:-2.8rem 0 0 4.6rem;
                width: 0;
                height: 0;
                border-left: 3rem solid transparent;
                border-right: 3rem solid transparent;
                border-bottom: 2.7rem solid #fff;
                z-index:3;
            }

            h3{
                font-weight: 300;
                font-size:3.5rem;
                color:$mediumGray;
                padding:2.5rem 0 1.5rem 4rem;
            }

            a{
                display:block;
                text-decoration: none;
                font-weight:700;
                font-size:3rem;
                color:$baseBlueDS;
                padding:0 0 10rem 4rem;
            }
        }
    }
}