#search-results{
    padding:5rem 4rem;

    h2{
        color:$baseBlueDS;
        font-size:4.5rem;
        font-weight:300;
        padding:0 0 7rem;
    }

    p{
        color: $mediumGray;
        font-size: 3rem;
        font-weight: 400;
        padding:0 0 5rem;
        border-bottom:1px solid #bbb;
    }

    .search-results{
        .result-item{
            padding:0 0 3.5rem;
            .results-title{
                color: $baseBlueDS;
                font-size: 3rem;
                font-weight:700;
                padding:4.8rem 0 0;
            }

            .results-copy{
                color: $mediumGray;
                font-size: 3rem;
                font-weight: 300;
                padding:3rem 0 0;
            }

            .results-link{
                padding:3rem 0 0;
                a{
                    text-decoration: none;
                    color: $veryLightGray;
                    font-size: 3rem;
                    font-weight:500;
                }
            }

        }
    }

    .paginationHolder{
        @include boxSizing;

        width:100%;
        padding:3em 0;
        margin: 0 auto;

        ul.paginate {
            @include cf;
            width:100%;
            text-align: center;
            font-size: 4.4rem;
            li {
                float:left;
                margin:0 .1rem 0 0;
                padding:0;
                a{
                    display: block;
                    width:74px;
                    height:74px;
                    //border:1px solid red;
                    text-decoration:none;
                    padding:1.2rem 0 0;
                    margin:0;
                    color:$baseBlueDS;
                    &.prevPage{
                        background-image:url('img/prev-arrow.png');
                        background-repeat:no-repeat;
                        background-position:center left;
                    }
                    &.nextPage {
                        background-image:url('img/next-arrow.png');
                        background-repeat:no-repeat;
                        background-position:center right;
                    }
                }
                .currentPage{
                    @include boxSizing;

                    background-color:$baseBlueDS;
                    color: #fff;
                }
            }
        }

        .powered-by{
            display:block;
            //border:1px solid red;
            padding:6rem 0 0;
            color: #999;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: center;
        }
    }
}