#tools-list{
    background-color: $grayBackground;
    padding:4.6rem 8.5rem 5rem;
    .tools-title{
        font-size:3.5rem;
        font-weight:600;
        color:$mediumGray;
        padding:0 0 5.6rem;
    }

    ul{
        li{
            margin:0 0 3rem;
            padding:1.2rem 0 0 6.9rem;
            height:53px;
            background: url('img/tools-icons.png') no-repeat;
            a{
                text-decoration: none;
                color:$lightBlueDS;
                font-weight:700;
                font-size:3rem;
            }
        }
        .calculators{
           background-position:0 -53px;
        }
        .loan-officer{
            background-position:0 -106px;
        }
    }

}